/*------------------------------------*\
  #LAYOUT-CONTAINERS
\*------------------------------------*/

/*
 * Build up your container to get your website centered
 */
.l-container {
  margin: auto;
  max-width: var(--max-width);
  width: 100%;
  position: relative;
  lost-utility: clearfix;
  background: var(--white);

  @media (--breakpoint-30) {
    display: flex;
    height: calc(100vh - var(--spacing) * 2);
    max-height: 50rem;
    box-shadow: 0px 10px 40px color(var(--black) alpha(15%));
  }
}

.l-container-transparent {
  display: flex;
  margin: 0 auto;
  max-width: var(--max-width);
  vertical-align: middle;
  width: 100%;
  lost-utility: clearfix;
}
