/*------------------------------------*\
  #OBJECTS-LOGOS
\*------------------------------------*/

.o-logos {
  background: var(--color-secondary-50);
  list-style: none;
  lost-utility: clearfix;
  display: flex;
  flex-flow: wrap;
  margin: 0 -2rem;
  padding: 1.25rem 2rem 1.5rem;

  @media (--breakpoint-30) {
    background: none;
  }
}

  .o-logos__item {
    display: flex;
    flex-flow: column nowrap;
    line-height: 2.25rem;
    margin-right: var(--spacing);

    & a {
      opacity: 0.3;
      margin-top: auto;

      display: block;
      filter: grayscale(100%);
      border: 0;
      text-decoration: none;
      transition: opacity 200ms var(--bezier-a);

      &:hover {
        opacity: 1;
      }
    }
    & img {
      display: block;
      max-height: 2rem;

      @media (--breakpoint-30) {
        max-height: 2.25rem;
      }
    }
  }

  .o-logos__item--small a  {
    width: 7rem;
  }
