<h2 class="c-heading c-heading--large" id="supporters">Supporters</h2>
<p class="c-paragraph--medium u-spacing">Thanks to these awesome companies and organizations, we're able to make Refresh happen!</p>
<ul class="c-partners c-partners--gold u-spacing--large">
  <li class="c-partners__item"><a class="c-partners__link" href="https://kiener.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-kiener.jpg" alt="Kiener logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://wearespindle.com" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-spindle.svg" alt="Devhouse Spindle logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://tfe.nl/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-the_factor_e.jpg" alt="theFactor.e logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://groningen.nl/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-gemeente_groningen.png" alt="Gemeente Groningen logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://fronteers.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-fronteers.png" alt="Fronteers logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://chordify.net/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-chordify.png" alt="Chordify logo"></a></li>
</ul>
