<h2 class="c-heading c-heading--large" id="supporters">Supporters</h2>
<p class="c-paragraph--medium u-spacing">Thanks to these awesome companies and organizations, we're able to make Refresh happen!</p>
<ul class="c-partners c-partners--gold u-spacing">
  <li class="c-partners__item"><a class="c-partners__link" href="https://tfe.nl/" rel="noopener" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-the_factor_e.jpg" alt="theFactor.e logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://www.embracesbs.com/?lang=en" rel="noopener" target="_blank"><img class="c-partners__logo c-partners__logo--large" src="./dist/images/logo-embrace.svg" alt="Embrace logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://wearespindle.com" rel="noopener" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-spindle.svg" alt="Devhouse Spindle logo"></a></li>
</ul>
<hr class="u-spacing--large">
<ul class="c-partners c-partners--silver u-spacing">
  <li class="c-partners__item"><a class="c-partners__link" href="https://www.simplicate.nl/" rel="noopener" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-simplicate.svg" alt="Simplicate logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://groningen.nl/" rel="noopener" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-gemeente_groningen.svg" alt="Gemeente Groningen logo"></a></li>
  <li class="c-partners__item">
    <a class="c-partners__link" href="https://microsoft.com" rel="noopener" target="_blank">
      <img class="c-partners__logo c-partners__logo--large c-partners__logo--label" src="./dist/images/logo-microsoft.svg" alt="Microsoft logo">
    </a>
    <span class="c-label c-label--small">Inclusion supporter</span>
  </li>
</ul>
<hr class="u-spacing--large">
<ul class="c-partners c-partners--bronze u-spacing--large">
  <li class="c-partners__item"><a class="c-partners__link" href="https://kiener.nl" rel="noopener" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-kiener.jpg" alt="Kiener logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://fronteers.nl" rel="noopener" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-fronteers.png" alt="Fronteers logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://chordify.net/" rel="noopener" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-chordify.png" alt="Chordify logo"></a></li>
  <li class="c-partners__item"><a class="c-partners__link" href="https://www.stickermule.com/eu/custom-stickers" rel="noopener" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-stickermule.png" alt="Stickermule logo"></a></li>
</ul>
