{% extends 'layout/layout.base.html' %}

{% set page_title = "About -" %}

{% block content %}

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Our story</h2>
      <p class="c-paragraph--large">We love to bring people together and share knowledge, and believe the time is right for an awesome conference about design & front-end development in Groningen.</p>
      <p><a href="coc.html">Code of Conduct</a></p>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
