{% extends 'layout/layout.base.html' %}

{% set page_title = "About -" %}
{% set page_description = "Find information about the venue, traveling to Groningen and local information about Groningen" %}

{% block content %}

    <div class="c-layout__container">
      <div class="c-header">
        <div class="c-header-image" style="background-image: url('./dist/images/header-refresh-2.jpg')">
          <h2 class="c-header-heading">
            About the conference
          </h2>
        </div>
        <div class="c-header-content">
        </div>
        <div class="c-header-text">
          <h2 class="c-heading c-heading--large">Our story</h2>
          <p class="c-paragraph--large">We love to bring people together and share knowledge, and believe the time is right for an awesome conference about design & front-end development in Groningen.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="c-layout__row">

    <div class="c-layout__container">

      <h2 class="c-heading c-heading--large">Let's talk details</h2>
      <p class="c-paragraph c-paragraph--large u-spacing">
        Need more information about the conference in detail? Find your way below.
      </p>
      <div class="c-grid c-grid--thirds c-speakers u-spacing">
        <a href="https://www.dotgroningen.nl/" target="_blank" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/dot.jpg')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Venue</h3>
            <h4 class="c-speakers__subject">DOT Groningen</h4>
          </hgroup>
        </a>
        <a href="https://toerisme.groningen.nl/en/about-groningen/city-of-groningen" target="_blank" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/groningen.jpg')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Local information</h3>
            <h4 class="c-speakers__subject">Good to know</h4>
          </hgroup>
        </a>
        <a href="traveling.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/stationgroningen.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">By plane, train, car or bus</h3>
            <h4 class="c-speakers__subject">Traveling</h4>
          </hgroup>
        </a>
        <a href="" class="c-speakers__item u-display-none">
          <div class="c-speakers__img" style="background-image: url('./dist/images/photo.jpg')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Pleasant conference</h3>
            <h4 class="c-speakers__subject">Code of conduct</h4>
          </hgroup>
        </a>
      </div>

    </div>

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Code of conduct</h2>
      <p class="c-paragraph--large">For the conference we want a pleasant experience for everyone, that's why we have set up a code of conduct.</p>
      <a href="/coc.html" class="c-button c-button--secondary">Code of conduct</a>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container u-text-align-center">
      <h2 class="c-heading c-heading--large">Partners</h2>
      <p class="c-paragraph--medium u-spacing">Thanks to these awesome partners. We wouldn't be able to do this without you!</p>
      <ul class="c-partners u-spacing">
        <li class="c-partners__item"><a class="c-partners__link" href="https://fronteers.nl/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-fronteers.png" alt="Fronteers"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.groningendigitalcity.com" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-gdc.png" alt="Groningen Digital City"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://wearespindle.com" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-spindle.svg" alt="Devhouse Spindle"></a></li>
      </ul>
      <p class="c-paragraph--medium u-spacing"> Want to help? <a href="mailto:hello@refreshconference.nl">Contact us</a>.</p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--icon">
    <div class="c-layout__container u-text-align-center">
      <h2 class="c-heading c-heading--large">More than 20 meetups &amp; 200 members</h2>
      <p class="c-paragraph--medium">The first Refresh Meetup was <strong>organised in 2014</strong> as a way for front-enders and designers to exchange ideas and knowledge about their craft. Since then, over 20 successful and well attended meetups have taken place.</p>
    </div>
  </div>

  <div class="c-layout__row" id="initiatives">
    <div class="c-layout__container u-text-align-center">
      <h2 class="c-heading c-heading--large">Initiatives we love</h2>
      <p class="c-paragraph--medium u-spacing">Groningen has many great initiatives that we embrace for sharing knowledge and who are supporting diversity in the field of technology and creative industries.</p>
      <ul class="c-partners u-spacing">
        <li class="c-partners__item"><a class="c-partners__link" href="http://girlswholikecode.nl/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-girlswholikecode.jpg" alt="Girls who like code Groningen"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://djangogirls.org/groningen/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-djangogirls.png" alt="Django Girls"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://coffeeandcoding.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-coffee-and-coding.png" alt="Coffee and Coding"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="http://swgro.nl/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-swg.png" alt="Startup Weekend Groningen"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.foundedingroningen.com/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-founded-in-gro.png" alt="Founded in Groningen"></a></li>
      </ul>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
