{% extends 'layout/layout.base.html' %}

{% set page_title = "About -" %}
{% set page_description = "Find information about the venue, traveling to Groningen and local information about Groningen" %}

{% block content %}

    <div class="c-layout__container">
      <div class="c-header">
        <div class="c-header-image" style="background-image: url('./dist/images/header-refresh-2.jpg')">
          <h2 class="c-header-heading">
            About the conference
          </h2>
        </div>
        <div class="c-header-content">
        </div>
        <div class="c-header-text">
          <h2 class="c-heading c-heading--large">Our story</h2>
          <p class="c-paragraph--large u-spacing">We love to bring people together and share knowledge. After a succesful first conference about design & front-end development in <strong>Groningen</strong>, we are pleased to announce our second edition.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="c-layout__row">

    <div class="c-layout__container">

      <h2 class="c-heading c-heading--large">Let's talk details</h2>
      <p class="c-paragraph c-paragraph--large u-spacing--large">
        Need more information about the conference in detail? Find your way below.
      </p>
      <div class="c-grid c-grid--thirds c-speakers u-spacing">
        <a href="https://www.deraakerkgroningen.nl/" target="_blank" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/aa-kerk.jpg')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Venue</h3>
            <h4 class="c-speakers__subject">Aa-kerk</h4>
          </hgroup>
          <span class="u-visibility-hidden">(external website)</span>
        </a>
        <a href="coc" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/coc.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Pleasant conference</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">Code of conduct</h4>
          </hgroup>
        </a>
        <a href="traveling" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/stationgroningen.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">By plane, train, car or bus</h3>
            <h4 class="c-speakers__subject">Traveling</h4>
          </hgroup>
        </a>
        <a href="https://www.digitalgroningen.com/en/groningen-digital-space-to-create-the-future" rel="external" target="_blank" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/digitalcity.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Groningen</h3>
            <h4 class="c-speakers__subject">Digital City</h4>
          </hgroup>
          <span class="u-visibility-hidden">(external website)</span>
        </a>
        <a href="https://toerisme.groningen.nl/en/about-groningen/city-of-groningen" rel="external" target="_blank" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/groningen.jpg')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Local information</h3>
            <h4 class="c-speakers__subject">Good to know</h4>
          </hgroup>
          <span class="u-visibility-hidden">(external website)</span>
        </a>
      </div>

    </div>
  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container u-text-align-center">
      {% include 'partials/supporters.html' %}
    </div>
  </div>

  <div class="c-layout__row" id="initiatives">
    <div class="c-layout__container u-text-align-center">
      <h2 class="c-heading c-heading--large">Initiatives we love</h2>
      <p class="c-paragraph--medium u-spacing">Groningen has many great initiatives that we embrace for sharing knowledge and who are supporting diversity in the field of technology and creative industries.</p>
      <ul class="c-partners c-partners--silver u-spacing">
        <li class="c-partners__item"><a class="c-partners__link" href="http://girlswholikecode.nl/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-girlswholikecode.jpg" alt="Girls who like code Groningen logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://djangogirls.org/groningen/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-djangogirls.png" alt="Django Girls logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="http://swgro.nl/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-swg.png" alt="Startup Weekend Groningen logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.foundedingroningen.com/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-founded-in-gro.png" alt="Founded in Groningen logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.codegorilla.nl/" rel="external" target="_blank"><img class="c-partners__logo u-filter-grayscale" src="./dist/images/logo-codegorilla.png" alt="CodeGorilla logo"></a></li>
      </ul>
      <h2 class="c-heading c-heading--large">Awesome meetups</h2>
      <p><a href="https://www.meetup.com/Women-Devs/" class="c-label" rel="external" target="_blank">Women Devs</a> <a href="https://www.meetup.com/GrunnJS/" class="c-label" rel="external" target="_blank">GrunnJS</a> <a href="https://www.meetup.com/refresh-groningen/" class="c-label" rel="external" target="_blank">Refresh meetups</a></p>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
