{% extends 'layout/layout.base.html' %}

{% set page_title = "Aga Naplocha -" %}
{% set page_description = "Aga Naplocha - Artisti.css" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Aga Naplocha</p>
      <h1 class="c-heading c-heading--huge">Artisti.css</h1>
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--aga_naplocha.png" alt="Aga Naplocha">
      </figure>
      <p class="c-paragraph c-paragraph--lead">In what shape is the current state of Web Design? How can we leverage CSS to support the art movement on the Web? Does architecture influence our websites?</p>
      <p class="c-paragraph c-paragraph--medium">Let’s dive into art movements, art direction and trends to find a new way to express our design ideas in CSS. During Aga's talk you will find more about the intersection of CSS code with Bauhaus, De Stijl, anti-design aesthetics… and much more. Everything will be combined with practical CSS and tons of examples you can use on your websites right away. Aga will be presenting some of her CSS experiments to show you that art has a true impact on CSS properties and new features.</p>
      <p class="c-paragraph c-paragraph--medium">Find your inner designer and join me on this artistic CSS journey.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Aga Naplocha</h2>
      <p class="c-paragraph c-paragraph--medium">Aga Naplocha is a coding designer with a strong focus on UX-related issues, currently working at Adobe in Warsaw, Poland.</p>
      <p class="c-paragraph c-paragraph--medium">She’s the co-founder of <a href="https://theawwwesomes.org" rel="noopener" target="_blank">The Awwwesomes</a> – a non-profit organization teaching how to create awwwesome things on the Web, organizing coding (HTML&CSS) workshops in Poland. She likes travelling, taking pictures and posting them on The Awwwesomes' <a href="https://instagram.com/theawwwesomes" rel="noopener" target="_blank">instagram</a> (yes, it is her addiction!) She loves dark chocolate, pink color and Wes Anderson's movies.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/aganaplocha" rel="noopener" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>aganaplocha</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
