{% extends 'layout/layout.base.html' %}

{% set page_title = "Yänjaa Wintersoul -" %}
{% set page_description = "Yänjaa Wintersoul - Become Limitless with Memory Techniques" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Yänjaa Wintersoul</p>
      <h1 class="c-heading c-heading--large">Become Limitless with Memory Techniques</h1>
      <picture class="c-media c-media--overlay c-media--right">
        <source type="image/webp" srcset="./dist/images/bio--yanjaa_wintersoul.webp">
        <source type="image/png" srcset="./dist/images/bio--yanjaa_wintersoul.png">
        <img class="c-media__image" src="./dist/images/bio--yanjaa_wintersoul.png" alt="Yänjaa Wintersoul">
      </picture>
      <p class="c-paragraph c-paragraph--lead">What would you do if you truly knew you could learn anything? Who would you be if you could suddenly remember 10x better than you do today? How would your life be different if you knew a simple trick that could make even the most impossible concepts seem unforgettable and simple?</p>
      <p class="c-paragraph c-paragraph--medium">In this short but powerful presentation, Yänjaa takes us on a journey through her mind with the extraordinary story of how someone like her who almost didn't graduate high school because of her poor grades now travels the world teaching everyone young and old the memory techniques that changed her life. She'll teach you the simplest trick to remember hard facts and you'll walk away with a totally new understanding of your brain and the human mind's limitless possibilities.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Yänjaa Wintersoul</h2>
      <p class="c-paragraph c-paragraph--medium">Yänjaa Wintersoul is a world-record-holding memory champion and a multi-hyphenate entertainer with a strong focus on playfulness.</p>
      <p class="c-paragraph c-paragraph--medium">Yänjaa is the star of multiple documentaries, TV shows and commercials including various talent shows around the world like Sweden's Got Talent, doing ads like memorizing the entire 328-page IKEA catalog in a week and most recently going viral with her memory skills on Netflix's The Mind: Explained with Emma Stone. In honor of her Mongolian heritage (and because it's badass and fun) she enjoys archery and horseback riding while her Swedish upbringing shines through during her late-night rants on her <a href="https://www.instagram.com/yanjaa/" rel="noopener" target="_blank">instagram stories</a> and in how she pronounces words like tabbouleh and ABBA.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/yanjaatweets" rel="noopener" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>yanjaatweets</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
