{% extends 'layout/layout.base.html' %}

{% set page_title = "Blog - Supporter Belsimpel" %}
{% set page_description = "Read about Belsimpel, their way or working, what initiatives they support and why they support Refresh" %}

{% block content %}

  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Supporter Refresh Conference</p>
      <h1 class="c-heading c-heading--huge u-spacing">Belsimpel</h1>

      <figure class="c-media c-media--overlay c-media--overlay--rotate u-spacing">
        <img src="./dist/images/blog-belsimpel.jpg" alt="Photos of the Belsimpel team" class="c-media__image">
      </figure>

      <p class="c-paragraph c-paragraph--lead">
        Belsimpel is the biggest and fastest growing webstore for mobile phones and phone plans in the Netherlands - and working on achieving the same in the rest of Europe. Belsimpel’s headquarters is located in the heart of Groningen. 
      </p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white">
    <div class="c-layout__container">
        <h2 class="c-heading c-heading--medium">From one-team-does-all to multiple development teams</h2>
      <p class="c-paragraph c-paragraph--medium u-spacing">
        There are now 400+ people working at Belsimpel, of which there are about 50 people working in development-related teams. Over the years Belsimpel’s tech culture went from a one-team-does-all-culture to a company that now has various teams for mobile development, infrastructure, webapp development and front-end development. Jason, one of the front-end developers at Belsimpel says this growth occurred very naturally, with a super informal vibe where people are willing to help each other out. There being lot of interaction between teams so it still feels like one big family.
      </p>
      <h2 class="c-heading c-heading--medium">Build the systems that support the company's growth</h2>
      <p class="c-paragraph c-paragraph--medium">
        Besides keeping their webstore available for customers and maintaining the codebase that got them to this point, the teams are working with modern technologies such as Laravel and Vue to build the systems they need to support the company's growth. A big part of the development’s job is also A/B testing, where everyone’s excited about keeping an eye on the results to see if they’re working as intended. Things move very fast at Belsimpel with sometimes several deploys per day, but despite this speed Jason says there's always time for quality assurance, code reviews and testing.
      </p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--neutral">
    <div class="c-layout__container">
        <h2 class="c-heading c-heading--medium">Supporting local initiatives and help the tech culture grow</h2>
      <p class="c-paragraph c-paragraph--medium">
        Because Belsimpel is such a big and known company in Groningen they get a lot of questions about sponsoring. Because the heart of the company lies in Groningen, and the people working at Belsimpel really love their city, they decided to mainly support initiatives in the city itself. Supporting the knowledge ecosystem and help the culture around that grow. A couple of initiatives that are a part of this are hackathons organised by Computer Science student associations, the Singular IT congress, but also hosting various meetups like the Bitborrel and DockerGrunn.         
      </p>
      <p class="c-paragraph c-paragraph--medium">
        In our conversation Jason mentions that helping Refresh isn’t only about making this conference a success, but also helps set a precedent to make the culture grow and make it more worthwhile in the long run. Alongside other relevant meetups, Refresh helps with showing people both in- and outside Groningen that the city has a lot to offer for people working in front-end development, design and UX. 
    </p>
</div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Belsimpel</h2>
      <p class="c-paragraph c-paragraph--medium">Check out the <a href="https://werkenbijbelsimpel.nl/en/development.html" rel="external" target="_blank">Werken bij Belsimpel</a> website if you want to learn more about Belsimpel and their development work.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/belsimpel" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>Belsimpel</a>
      </div>
    </div>
  </div>

{% endblock %}
