{% extends 'layout/layout.base.html' %}

{% set page_title = "Blog -" %}
{% set page_description = "Blog about the conference" %}

{% block content %}

  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h1 class="c-heading c-heading--huge">Blog</h1>

      <div class="c-grid c-grid--content">
        <div class="c-grid__item">
          <p class="c-paragraph c-paragraph--large u-spacing">This blog is used to introduce you to the companies that support the conference. An introduction into what these companies do, what their front-end, design and UX roles look like, and why they feel
            it's important to support initiatives that contribute to the knowledge ecosystem in Groningen.
          </p>
          <ul class="c-list-unordered">
            <li><a href="the-factor-e.html">Meet our supporter theFactor.e</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
