{% extends 'layout/layout.base.html' %}

{% set page_title = "Blog -" %}
{% set page_description = "Blog about the conference" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">5 September 2018</p>
      <h1 class="c-heading c-heading--huge">Work with our great sponsor title blog thingy</h1>

      <div class="c-grid c-grid--content">
        <div class="c-grid__item">
          <p class="c-paragraph c-paragraph--lead">Style guide driven development became a reality with components. It enables developers and designers to focus on collaboration and assertive components. With the use of React, CSS-in-JS, Types and Snapshot testing, we were able to almost remove style regressions. In this talk you will get a glimpse on how you can start style guide driven development and how to sell this dream to your project managers.</p>
          <p class="c-paragraph">Style guide driven development became a reality with components. It enables developers and designers to focus on collaboration and assertive components. With the use of React, CSS-in-JS, Types and Snapshot testing, we were able to almost remove style regressions. In this talk you will get a glimpse on how you can start style guide driven development and how to sell this dream to your project managers.</p>

          <p class="c-paragraph">Style guide driven development became a reality with components. It enables developers and designers to focus on collaboration and assertive components. With the use of React, CSS-in-JS, Types and Snapshot testing, we were able to almost remove style regressions. In this talk you will get a glimpse on how you can start style guide driven development and how to sell this dream to your project managers.</p>
        </div>

        <div class="c-grid__item">
          <figure class="c-media c-media--overlay c-media--right">
              <img class="c-media__image" src="./dist/images/bio--sara_vieira.jpg" alt="Sara Vieira">
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--neutral">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">5 September 2018</p>
      <h1 class="c-heading c-heading--huge">Work with our great sponsor title blog thingy</h1>

      <div class="c-grid c-grid--content">
        <div class="c-grid__item">
          <p class="c-paragraph c-paragraph--lead">Style guide driven development became a reality with components. It enables developers and designers to focus on collaboration and assertive components. With the use of React, CSS-in-JS, Types and Snapshot testing, we were able to almost remove style regressions. In this talk you will get a glimpse on how you can start style guide driven development and how to sell this dream to your project managers.</p>
          <p class="c-paragraph">Style guide driven development became a reality with components. It enables developers and designers to focus on collaboration and assertive components. With the use of React, CSS-in-JS, Types and Snapshot testing, we were able to almost remove style regressions. In this talk you will get a glimpse on how you can start style guide driven development and how to sell this dream to your project managers.</p>

          <p class="c-paragraph">Style guide driven development became a reality with components. It enables developers and designers to focus on collaboration and assertive components. With the use of React, CSS-in-JS, Types and Snapshot testing, we were able to almost remove style regressions. In this talk you will get a glimpse on how you can start style guide driven development and how to sell this dream to your project managers.</p>
        </div>

        <div class="c-grid__item">
          <figure class="c-media c-media--overlay c-media--right">
              <img class="c-media__image" src="./dist/images/bio--sara_vieira.jpg" alt="Sara Vieira">
          </figure>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
