{% extends 'layout/layout.base.html' %}

{% set page_title = "Paul Verbeek-Mast -" %}
{% set page_description = "Paul Verbeek-Mast - Calendar / Kalender / تقويم (aka, the fun of locali[zs]ation)" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Paul Verbeek-Mast</p>
      <hgroup>
        <h1 class="c-heading c-heading--huge">Calendar / Kalender / تقويم</h1>
        <h2 class="c-heading c-heading--large">(aka, the fun of locali[zs]ation)</h2>
      </hgroup>
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--paul_verbeek-mast.jpg" alt="Paul Verbeek-Mast">
      </figure>
      <p class="c-paragraph c-paragraph--lead">When working at Booking.com, Paul created a new calendar for their partners. It took him about 6 months. Months? Yes, months. Creating a calendar that works correctly all across the world for 42 different languages and even more locales, is not something that you do in a week.</p>
      <p class="c-paragraph c-paragraph--medium">In this talk, Paul will show you the weird things he learned. From Brazilian Summer Time to Slovakian (or was it Slovenian?) date formatting. And how to avoid the many (many!) mistakes he made.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Paul Verbeek-Mast</h2>
      <p class="c-paragraph c-paragraph--medium">Paul is a Senior Software Engineer at <a href="https://confrere.com/" rel="external" target="_blank">Confrere</a>, based in The Netherlands, and organiser of the <a href="https://www.meetup.com/NLHTML5/" rel="external" target="_blank">NLHTML5 meetups</a>. He’s passionate about welcoming everyone into tech and making the web work for everyone.</p>
      <p class="c-paragraph c-paragraph--medium">Over 10 years ago, Paul was a .NET developer, but after going to his first front-end developer conference, he fell in love with that community. Ever since then, he's been an active member of the front-end community, volunteering at, speaking at and organizing different conferences.
Nowadays, he gives talks about ethics, diversity, and inclusivity, to help make everyone feel as welcome as he was 10 years ago.</p>
      <p class="c-paragraph c-paragraph--medium">PS. He's unreasonably proud of his <a href="http://paulvm.com/" rel="external" target="_blank">personal website</a>.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/paul_v_m" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>paul_v_m</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
