{% extends 'layout/layout.base.html' %}

{% set page_title = "Code of Conduct -" %}
{% set page_description = "Our Code of Conduct for the conference" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <h1 class="c-heading c-heading--large">Code of Conduct</h1>
      <p class="c-paragraph--medium">We are committed to creating a <mark>safe environment for everybody</mark>. We take diversity and inclusion very seriously, promote a humble way of approaching others and do not tolerate harassment in any form. Harassment will cause expulsion without reimbursement. To create a baseline of understanding what this means, this code of conduct is published. This code of conduct applies to everybody at the event: attendees, supporters, sponsors, staff and volunteers. By attending or otherwise taking part you are agreeing to honour this code of conduct.</p>
      <p class="c-paragraph--medium">When you feel you are being harassed or think that your or anyone else's safety, either physical or emotional, is being threatened, please let us know. It will be dealt with swiftly by taking your security and privacy very seriously. No follow up action will be taken without your approval.
When witnessing acts identifiable as against Dutch law please contact law enforcement via telephone number 112.
</p>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">Need Help?</h2>
      <p class="c-paragraph--medium">Ways to contact us about violations or questions:</p>
      <ul class="c-list-unordered">
        <li>Talk to a staff member (identifiable by the color of their lanyards)</li>
        <li>Talk to an employee to get a staff member</li>
        <!--<li>SMS or call (anonymous): +316 422 03 699</li>-->
        <li>Twitter: <a href="https://twitter.com/refreshcon" target="_blank" rel="external">@RefreshCon</a></li>
        <li>E-mail: <a href="mailto:hello@refreshconference.nl" target="_blank" rel="external">hello@refreshconference.nl</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
