{% extends 'layout/layout.base.html' %}

{% set page_title = "Maike Klip -" %}
{% set page_description = "Maike Klip - Develop Friendships" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Maike Klip</p>
      <h1 class="c-heading c-heading--huge">Develop Friendships</h1>
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--maike_klip.jpg" alt="Maike Klip">
      </figure>
      <p class="c-paragraph c-paragraph--lead">Every relationship can have its difficulties and the one you have with your user will be no exception to this. Many people talk about the fact that it’s important to do usability testing and actually talk to their customers, but how many of them really enjoy doing that?</p>
      <p class="c-paragraph c-paragraph--medium">The romance between users and your product can be passionate but very short if the experience dissapoints the user. On the other hand, it can be a longlasting and sweet relationship if we, as designers and developers, take time and effort to invest in this relationship.</p>
      <p class="c-paragraph c-paragraph--medium">The initiative for starting a great friendship starts with us. Maike wants to open up an honest conversation about the struggles we’re faced with when it comes to building relationships with our users. The anxiety that comes with meeting people we’ve never met before, asking for their feedback and creating something that our users will actually love to use. What are we getting ourselves into?</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Maike Klip</h2>
      <p class="c-paragraph c-paragraph--medium">Maike Klip works as a user experience researcher at <a href="http://duo.nl" rel="external" target="_blank">DUO</a> in Groningen. Almost every Dutch citizen uses our services, not because they want to but because they have to. As a UX researcher she always encourage and motivate other designers and developers to join her on her research ventures and to invest in their own relationships with their users. Maike blogs about her work on <a href="http://klipklaar.nl" rel="external" target="_blank">klipklaar.nl</a>.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/manuelame" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>manuelame</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
