{% extends 'layout/layout.base.html' %}

{% set page_title = "Blog - Supporter Devhouse Spindle" %}
{% set page_description = "Read about Devhouse Spindle, their way or working, what initiatives they support and why they support Refresh" %}

{% block content %}

  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Supporter Refresh Conference</p>
      <h1 class="c-heading c-heading--huge u-spacing">Devhouse Spindle</h1>

      <figure class="c-media c-media--overlay c-media--overlay--rotate u-spacing">
        <img src="./dist/images/blog-devhousespindle.jpg" alt="Photos of the team of Devhouse Spindle" class="c-media__image">
      </figure>

      <p class="c-paragraph c-paragraph--lead">
        Devhouse Spindle is a company based in Groningen (Het Kwadraat) and develops open and free communication tools that connect people. With a genuine belief in open source, Spindle creates software that helps companies communicate in an open, personal and effective way.
      </p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white">
    <div class="c-layout__container">
        <h2 class="c-heading c-heading--medium">Products by Spindle</h2>
      <p class="c-paragraph c-paragraph--medium u-spacing">
        One of the software products you might know from Spindle is <a href="httsp://voipgrid.nl" rel="external" target="_blank">VoIPGRID</a>, a user-centric cloud based telephony platform that enables telecom providers to deliver high quality VoIP technology to their business clients. Another product developed by Spindle is Lily, the personal assistant for companies who love their customers. Lily brings all customer communication of your team together, so you can deliver the best service at all times. As you can see, Spindle’s products are focused on making communication easy and accessible for everyone.
      </p>
      <h2 class="c-heading c-heading--medium">Working without managers</h2>
      <p class="c-paragraph c-paragraph--medium">
        From the beginning, Spindle has worked without managers. In 2015 they adopted a new form of self-organization called Holacracy. With Holacracy, all colleagues are entrepreneurs in their own work and use their specific expertise to best execute their roles. This comes with great responsibility but also gives a lot of freedom to accomplish your goals and make the most out of what you do.
      </p>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">From monolithic to an API with a separate front-end</h2>
      <p class="c-paragraph c-paragraph--medium u-spacing">
        A cool project the Unified Experience (UXP) team of Spindle has been working on in the last year is researching and developing a new front-end for the VoIPGRID platform. This project is not so much about only changing the aesthetics of the platform but to clean up the front-end code that has been growing in the past seven years as well. With this work Spindle is able to make steps towards fully dividing the platform into a backend API and a separate front-end. With a lot of partners and end-users, researching and communicating this very visual change is a vital part of the process. 
      </p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--neutral">
    <div class="c-layout__container">
        <h2 class="c-heading c-heading--medium">Supporting local initiatives</h2>
      <p class="c-paragraph c-paragraph--medium">
          Spindle loves opening its office to host meetups and other initiatives such as Refresh, the UX Book Club, Girls Who Like Code, Spring of Design, Startup Weekend Groningen and more. Being able to help local initiatives that want contribute to the tech knowledge ecosystem in Groningen is something they do with pride. They even made their own beer for the Northern tech community: the 503 (the recipe can be found on <a href="https://github.com/wearespindle/beer-recipes" rel="external" target="_blank">GitHub</a>).
      </p>
      <p class="c-paragraph c-paragraph--medium">
          As a part of contributing to that knowledge ecosystem, Spindle colleagues get the opportunity to spend time and resources on organizing meetups and conferences like Refresh. Employees also get a yearly study budget that they can use for whatever they feel can help them grow in their field of expertise. Members of the UXP team of Spindle for example, went to <a href="https://cssday.nl/2018" rel="external" target="_blank">CSS Day</a>, <a href="https://react.amsterdam/" rel="external" target="_blank">React Amsterdam</a>, <a href="https://fronteers.nl/congres" rel="external" target="_blank">FronteersConf</a> and <a href="https://thenextweb.com/" rel="external" target="_blank">The Next Web</a> this year.
    </p>
</div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Devhouse Spindle</h2>
      <p class="c-paragraph c-paragraph--medium">Spindle is a team of 60 geniuses and one Stormtrooper (Fred). They create trailblazing software that enables equal and free communication. Check out more information and cool projects on the website of <a href="https://wearespindle.com" rel="external" target="_blank">Devhouse Spindle</a>.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/wearespindle" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>Devhouse Spindle</a>
      </div>
    </div>
  </div>

{% endblock %}
