{% extends 'layout/layout.base.html' %}

{% set page_title = "Rachel Andrew -" %}
{% set page_description = "Rachel Andrew - Does it work? Using the new CSS layout" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Rachel Andrew</p>
      <h1 class="c-heading c-heading--huge">Does it work? Using the new CSS layout</h1>
      <picture class="c-media c-media--overlay c-media--right">
        <source type="image/webp" srcset="./dist/images/bio--rachel_andrew.webp">
        <source type="image/png" srcset="./dist/images/bio--rachel_andrew.png">
        <img class="c-media__image" src="./dist/images/bio--rachel_andrew.png" alt="Rachel Andrew">
      </picture>
      <p class="c-paragraph c-paragraph--lead">Over the past two years, we have moved from a situation where we essentially lacked a layout system for the web, to one where a complex and flexible system is emerging. A system with Grid and Flexbox as the headline features, and backed by a range of concepts and CSS properties and values which help us make sense of what it is to do layout on the web.</p>
      <p class="c-paragraph c-paragraph--medium">In this talk, we will take a look at CSS layout in a holistic way. Rather than thinking Grid or Flexbox first, we will look at the patterns we need to build, and then discover which bits of CSS we might need to use to realise them.</p>
      <p class="c-paragraph c-paragraph--medium">Along the way we'll encounter Grid, Flexbox, the BFC, Writing Modes, and some interesting things about scrolling. All part of the layout system that we now have in CSS.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Rachel Andrew</h2>
      <p class="c-paragraph c-paragraph--medium">Rachel Andrew lives in Bristol, England. She is one half of web development company <a href="https://edgeofmyseat.com" rel="noopener" target="_blank">edgeofmyseat.com</a>, the company behind <a href="https://grabaperch.com/" rel="noopener" target="_blank">Perch CMS</a> and <a href="https://noti.st/" rel="noopener" target="_blank">Notist</a>. Her day to day work can include anything from product development to devops to CSS, and she writes about all of these subjects on her blog at rachelandrew.co.uk.</p>
      <p class="c-paragraph c-paragraph--medium">Rachel has been working on the web since 1996 and writing about the web for almost as long. She is the author or co-author of 22 books including <a href="https://abookapart.com/products/the-new-css-layout" rel="noopener" target="_blank">The New CSS Layout</a>, and a regular contributor to a number of publications both on and offline. She is a Google Developer Expert for Web Technologies a member of the CSS Working Group, and Editor in Chief of Smashing Magazine. Rachel is a frequent speaker at web development and design events including An Event Apart, Smashing Conference, and Web Directions Code.</p>
      <p class="c-paragraph c-paragraph--medium">Rachel is a keen distance runner and likes to encourage people to come for a run when attending conferences, with varying degrees of success. She is also a student pilot and aviation geek</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/rachelandrew" rel="noopener" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>rachelandrew</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
