{% extends 'layout/layout.base.html' %}

{% set page_title = "Peter Peerdeman -" %}
{% set page_description = "Peter Peerdeman - GraphQL: The future of APIs is here" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Peter Peerdeman</p>
      <h1 class="c-heading c-heading--huge">GraphQL: The future of APIs is here</h1>
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--peter_peerdeman.jpg" alt="Peter Peerdeman">
      </figure>
      <p class="c-paragraph c-paragraph--lead">You have probably integrated a fair share of REST APIs in your frontend applications. Ever wished you could decide for yourself what combination of data and fields the backend should return? GraphQL is an API language that allows backend teams to expose strongly typed, automatically documented APIs that are a joy for the frontend team to work with and Peter would love to show you how they use it at their agency.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Peter Peerdeman</h2>
      <p class="c-paragraph c-paragraph--medium">Peter is a passionate technologist leading a team of talented engineers at Lifely. With a team of 20 they turn business challenges into digital concepts, design, code and devops. Whenever Peter is not high-fiving the team or discussing technical decisions he loves to produce electronic music and take pretty pictures.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/peterpeerdeman" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>peterpeerdeman</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
