{% extends 'layout/layout.base.html' %}

{% set page_title = "Vasilis van Gemert -" %}
{% set page_description = "Vasilis van Gemert - Host" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Our conference host</p>
      <h1 class="c-heading c-heading--huge">Vasilis van Gemert</h1>
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--vasilis_van_gemert.png" alt="Vasilis van Gemert">
      </figure>
      <p class="c-paragraph c-paragraph--lead">Vasilis is a lecturer at the University of Applied Sciences in Amsterdam where he teaches the next generation of digital product designers about designing with the web as a material.</p>
      <p class="c-paragraph c-paragraph--medium">Apart from being a teacher, he is a student as well. He follows the Design Research Master course at the Willem de Kooning Academy in Rotterdam. His research is about creating pleasurable digital user interfaces exclusively for real persons with disabilities.</p>
      <p><small>Photo credits: <a href="https://twitter.com/_ddk" rel="external" target="_blank">Dave Krooshof</a></small></p>
      <div class="c-socials u-spacing">
        <a class="c-socials__link" href="https://twitter.com/vasilis" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>vasilis</a>
      </div>
    </div>
  </div>

{% endblock %}
