{% extends 'layout/layout.base.html' %}

{% set page_title = "Jorn de Vreede -" %}
{% set page_description = "Jorn de Vreede - Human first digital ethics" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--jorn_de_vreede.png" alt="Jorn de Vreede">
      </figure>
      <p class="c-paragraph c-paragraph--large u-spacing--small">Jorn de Vreede</p>
      <h1 class="c-heading c-heading--large">Human first digital ethics</h1>
      <p class="c-paragraph c-paragraph--lead">As internet entered our world, so did ‘relationships’ between humans and the corporate world through digital services. What can digital designers do to help restore our human norms and values in these relationships?</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Jorn de Vreede</h2>
      <p class="c-paragraph c-paragraph--medium">As a curious kid, Jorn was fascinated with the future, space, rockets, everything sci-fi and electronics. The lack of a usable interface for programming VCRs already angered him as a teenager, and he imagined a career at electronics companies to improve that. Doubting between art school and electrical engineering, he chose the latter. At that time the internet took off, creating a whole new world of interfaces. Obviously this was the future, so after hours he taught himself HTML.</p>
      <p class="c-paragraph c-paragraph--medium">Jorn works at human first digital agency <a href="https://tfe.nl" rel="noopener" target="_blank">theFactor.e</a>. They see humanity more important than ever, and strive for optimal harmony between people and technology. His job is co-creating UX centered strategies with customers. Still curious as always, he’s very driven to create the optimal solution balancing business goals, end-user needs and organisational capabilities.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/jorndevreede" rel="noopener" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>jorndevreede</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
