{% extends 'layout/layout.base.html' %}

{% set page_title = "Stephen Hay -" %}
{% set page_description = "Stephen Hay - I Don't Care What Airbnb is Doing (and Neither Should You)" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Stephen Hay</p>
      <h1 class="c-heading c-heading--huge">I Don't Care What Airbnb is Doing</h1>
      <h2 class="c-heading">(and Neither Should You)</h2>
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--stephen_hay.jpg" alt="Stephen Hay">
      </figure>
      <p class="c-paragraph c-paragraph--lead">"Hey, have you seen that thing that Airbnb did? Let's do something like that."</p>
      <p class="c-paragraph c-paragraph--medium">When thinking about how to solve our design problems, we often look to what others are doing. And when we don't, our stakeholders do. We call this "inspiration". But at the heart of it is a focus on solutions rather than problems. We fall in love with a solution to someone else's problem and try to make it fit our own. We contribute to design sameness, and confuse it with reasoned convention. In making things easier for ourselves, we might miss opportunities to really make a difference.</p>
      <p class="c-paragraph c-paragraph--medium">Stephen will explore the why and how of deeply understanding design problems. We'll look at why it's important to think outside of the box, when it's appropriate to look at the work of others, and what to do with it when we do.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Stephen Hay</h2>
      <p class="c-paragraph c-paragraph--medium">Californian by birth and Dutchman by choice, Stephen is an art director, designer-who-codes, and writer. He designed and built his first website in 1995 while art directing for a design firm. He left print behind. The things that happened after that could turn a conference bio into a book—a thriller, even. Stephen is Head of UX at online auction platform <a href="https://www.catawiki.com/" rel="external" target="_blank">Catawiki</a>.</p>
      <p class="c-paragraph c-paragraph--medium">Stephen wrote the book <a href="https://responsivedesignworkflow.com/" rel="external" target="_blank">Responsive Design Workflow</a>, which is all about content first, progressive enhancement, low-fi wireframing, and browser-based prototyping.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/stephenhay" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>stephenhay</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
