{% extends 'layout/layout.base.html' %}

{% set page_title = "Diem Do -" %}
{% set page_description = "Diem Do - I have never tried that before, so I think I should definitely be able to do that" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--diem_do.png" alt="Diem Do">
      </figure>
      <p class="c-paragraph c-paragraph--large u-spacing--small">Diem Do</p>
      <h1 class="c-heading c-heading--large"><span class="u-quote">&#8220;</span>I have never tried that before, so I think I should definitely be able to do that.<span class="u-quote">&#8221;</span> <small class="u-display-block">― Pippi Longstocking</small></h1>
      <p class="c-paragraph c-paragraph--lead">The fact that you have never done something before doesn’t mean that you can’t do it, it just means that you have never tried it before.</p>
      <p class="c-paragraph c-paragraph--medium">Can people with no prior experience in the tech industry, or knowledge of coding, learn how to code and become developers? The answer is yes, since you probably know someone who has taught themselves how to code. After all each and every single one started as a novice.</p>
      <p class="c-paragraph c-paragraph--medium">But can people who have been unemployed for a longer period of time also learn to be developers in a couple of months?</p>
      <p class="c-paragraph c-paragraph--medium">Of course the answer is yes.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Diem Do</h2>
      <p class="c-paragraph c-paragraph--medium">Diem is a social entrepreneur who has successfully trained people who were previously unemployed how to code and helped them to find a job as a developers. For this she has won awards such as the Social Impact Award and the TEDxAmsterdamWomen Startup Award.</p>
      <p class="c-paragraph c-paragraph--medium">She will share insights into how tech companies can make their teams more inclusive and why technical female founders will be the driving force for more inclusivity and diversity.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/DiemDo_" rel="noopener" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>DiemDo_</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
