{% extends 'layout/layout.base.html' %}
{% set page_description = "International design & front-end conference in Groningen, NL on the November 8th, 2019" %}

{% block content %}

    <div class="c-layout__container">
      <div class="c-header">
        <div class="c-header-image" style="background-image: url('./dist/images/header-refresh.jpg')">
          <h1 class="c-header-heading">
            <span class="u-display-block">Design &</span>
            <span class="u-display-block">Front-end</span>
            Conference
          </h1>
        </div>
        <div class="c-header-content">
        </div>
        <div class="c-header-text">
          <dl>
            <dt class="c-header-term">Date</dt>
            <dd class="c-header-definition">Friday November 8th, 2019</dd>
            <dt class="c-header-term">Location</dt>
            <dd class="c-header-definition">Aa-kerk, Groningen, The Netherlands</dd>
            <dt class="c-header-term">Speakers</dt>
            <dd class="c-header-definition">12 international & local</dd>
            <dt class="c-header-term">Price</dt>
            <dd class="c-header-definition"><div><del>Final: &euro;250</del></div> Now: &euro;200</dd>
          </dl>
          <a href="https://www.eventbrite.nl/e/tickets-refresh-conference-2019-62259870950" class="c-button c-button--secondary">Buy tickets</a>
        </div>
      </div>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--icon">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Our story</h2>
      <p class="c-paragraph--large u-spacing">We love to bring people together and share knowledge. After a succesful first conference about design & front-end development in <strong>Groningen</strong>, we are pleased to accounce our second edition.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container u-text-align-center">
      <h2 class="c-heading c-heading--large c-heading--2018" id="conf2018">Refresh Conference 2018 was great! 💜</h2>
      <p class="c-paragraph--medium u-spacing">150 attendees, 12 speakers, 1 host and an overall rating of <strong class="u-nowrap">8.2 out of 10</strong></p>
      <div class="c-embedded u-spacing--none">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NOzGLXYHJak?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="c-grid c-grid__no-gap c-grid--thirds u-spacing">
        <img class="c-media u-spacing--none" src="./dist/images/photo6.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo1.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo3.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo4.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo5.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo2.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo9.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo7.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo8.jpg" alt="">
      </div>
      <p class="c-paragraph--medium">For more details visit:  <a href="https://2018.refreshconference.nl" rel="external" target="_blank">2018.refreshconference.nl</a></p>
    </div>
    <div class="c-layout__container">
      <hr>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large" id="speakers">Speakers</h2>
      <p class="c-paragraph c-paragraph--large u-spacing--large">
        The speakers attending the conference will be a combination of big names in the field as well as awesome locals who share our passion.
      </p>
      <div class="c-grid c-grid--thirds c-speakers">
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/aga_naplocha.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Aga Naplocha</h3>
            <h4 class="c-speakers__subject">artisti.css</h4>
          </hgroup>
          <span class="c-speakers__country">PL</span>
        </div>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/vince_schwidder.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Vince Schwidder</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">5 strategies to win by sharing</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </div>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/rachel_andrew.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Rachel Andrew</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">Does it work? Using the new CSS layout</h4>
          </hgroup>
          <span class="c-speakers__country">UK</span>
        </div>
      </div>
      <!--
      <p class="c-paragraph--medium">
        <a href="speakers.html">Read more about our 12 speakers & host</a>
      </p>
      -->
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline c-layout__row--skyline--highlight">
    <div class="c-layout__container u-text-align-center">
      {% include 'partials/supporters.html' %}
    </div>
  </div>

  <div class="c-layout__row" id="location">
    <div class="c-layout__container">
      <div class="c-header">
        <div class="c-header-image" style="background-image: url('./dist/images/aa-kerk.jpg')">
          <h2 class="c-header-heading">
            Our venue
          </h2>
        </div>
        <div class="c-header-content">
        </div>
        <div class="c-header-text">
          <h3 class="c-heading c-heading--large">The Aa-kerk</h3>
          <p class="c-paragraph c-paragraph--large">
            The lovely Aa-kerk is a historic former parish church in the centre of Groningen.
          </p>
          <p class="c-paragraph c-paragraph--medium">The tower is an easily identifiable landmark in Groningen. There is little green space near the front of the church, which are great for a rest or eating lunch. It's easily reachable by foot, car and public transport.</p>
          <p class="c-paragraph c-paragraph--medium u-spacing">
            <a href="https://www.deraakerkgroningen.nl/" rel="external" target="_blank">Website<span class="u-visibility-hidden"> The Aa-kerk (external website)</span></a> &middot; <a href="https://goo.gl/maps/qK2xtK1pVs99Y1249" rel="external" target="_blank">Google Maps</a>
          </p>
          <p class="c-paragraph--small u-spacing--none">Photo made by <a href="https://flic.kr/p/5mtYXh">Johan Wieland</a> under <a href="https://creativecommons.org/licenses/by-nd/2.0/">Creative Commons Attribution-NoDerivs 2.0 Generic.</a></p>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
