{% extends 'layout/layout.base.html' %}
{% set page_description = "International design & front-end conference in Groningen, NL on the 26th of October 2018" %}

{% block content %}

    <div class="c-layout__container">
      <div class="c-header">
        <div class="c-header-image" style="background-image: url('./dist/images/header-refresh.jpg')">
          <h1 class="c-header-heading">
            <span class="u-display-block">Design &</span>
            <span class="u-display-block">Front-end</span>
            Conference
          </h1>
        </div>
        <div class="c-header-content">
        </div>
        <div class="c-header-text">
          <dl>
            <dt class="c-header-term">Date</dt>
            <dd class="c-header-definition">Friday 26th of October, 2018</dd>
            <dt class="c-header-term">Location</dt>
            <dd class="c-header-definition"><a href="#location" class="c-header-link">Vrydemalaan 2, <br>9713 WS Groningen,<br>The Netherlands</a></dd>
            <dt class="c-header-term">Speakers</dt>
            <dd class="c-header-definition"><a href="#speakers" class="c-header-link">12 international & local</a></dd>
          </dl>
          <a href="schedule.html" class="c-button c-button--secondary">View our schedule</a>
        </div>
      </div>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--icon">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Our story</h2>
      <p class="c-paragraph--large u-spacing">We love to bring people together and share knowledge, and believe the time is right for an awesome conference about design & front-end development in Groningen.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large u-spacing">Thanks everyone! 💜</h2>
      <div class="c-grid c-grid__no-gap c-grid--thirds u-spacing">
        <img class="c-media u-spacing--none" src="./dist/images/photo2.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo1.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo3.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo4.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo6.jpg" alt="">
        <img class="c-media u-spacing--none" src="./dist/images/photo5.jpg" alt="">
      </div>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large" id="speakers">Speakers</h2>
      <p class="c-paragraph c-paragraph--large u-spacing">
        The speakers attending the conference will be a combination of big names in the field as well as awesome locals who share our passion.
      </p>
      <div class="c-grid c-grid--thirds c-speakers">
        <a href="calendar-the-fun-of-localisation.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/paul_verbeek-mast.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Paul Verbeek-Mast</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">The fun of locali[zs]ation</h4>
          </hgroup>
        </a>
        <a href="ten-ways-to-irritate-your-design-team.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/jane_austin.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Jane Austin</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">Ten ways to irritate your design team</h4>
          </hgroup>
        </a>
        <a href="graphql-the-future-of-apis-is-here.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/peter_peerdeman.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Peter Peerdeman</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">GraphQL: The future of APIs is here</h4>
          </hgroup>
        </a>
      </div>
      <p class="c-paragraph--medium">
        <a href="speakers.html">Read more about our 12 speakers & host</a>
      </p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container u-text-align-center">
      <h2 class="c-heading c-heading--large">Supporters</h2>
      <p class="c-paragraph--medium u-spacing">Thanks to these awesome companies and organizations, we're able to make Refresh happen!</p>
      <ul class="c-partners c-partners--gold u-spacing">
        <li class="c-partners__item"><a class="c-partners__link" href="https://tfe.nl/" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-the_factor_e.jpg" alt="The Factor E logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://iwink.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-iwink.svg" height="100" alt="iWink logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.simplicate.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-simplicate.png" alt="Simplicate logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://wearespindle.com" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-spindle.svg" alt="Devhouse Spindle logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://gemeentegroningen.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-gemeente_groningen.png" alt="Gemeente Groningen logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.belsimpel.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-belsimpel.png" alt="Belsimpel logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.groningendigitalcity.com" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-gdc.png" alt="Groningen Digital City logo"></a></li>
      </ul>
      <hr>
      <ul class="c-partners c-partners--silver u-spacing">
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.hackerone.com" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-hackerone.svg" height="100" alt="Hackerone logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.wijzijnumbrella.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-umbrella.svg" height="100" alt="Umbrella logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.embracesbs.com" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-embrace.svg" height="100" alt="Embrace logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://www.malengo.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-malengo.svg" height="100" alt="Malengo logo"></a></li>
      </ul>
      <hr>
      <ul class="c-partners c-partners--bronze u-spacing">
        <li class="c-partners__item"><a class="c-partners__link" href="https://fronteers.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-fronteers.png" alt="Fronteers logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://elgentos.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-elgentos.svg" height="100" alt="Elgentos logo"></a></li>
        <li class="c-partners__item"><a class="c-partners__link" href="https://365werk.nl" rel="external" target="_blank"><img class="c-partners__logo" src="./dist/images/logo-365werk.svg" height="100" alt="365Werk logo"></a></li>
      </ul>
    </div>
  </div>

  <div class="c-layout__row" id="location">
    <div class="c-layout__container">
      <div class="c-header">
        <div class="c-header-image" style="background-image: url('./dist/images/dot.jpg')">
          <h2 class="c-header-heading">
            Venue
          </h2>
        </div>
        <div class="c-header-content">
        </div>
        <div class="c-header-text">
          <h3 class="c-heading c-heading--large">DOT Groningen</h3>
          <p class="c-paragraph c-paragraph--large">
            A unique and futuristic, circular shaped venue in the cosy Ebbingekwartier, just outside the city centre of Groningen.
          </p>
          <p class="c-paragraph c-paragraph--medium">DOT Groningen has an awesome projection dome, super comfy chairs, and is easily reachable by foot, car and public transport.</p>
          <p class="c-paragraph c-paragraph--medium u-spacing--none">
            <a href="https://www.dotgroningen.nl/" rel="external" target="_blank">Website<span class="u-visibility-hidden"> DOT Groningen (external website)</span></a> &middot; <a href="https://goo.gl/maps/9vLozZpMWn12" rel="external" target="_blank">Google Maps</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
