{% extends 'layout/layout.base.html' %}

{% set page_title = "Blog - Supporter iWink" %}
{% set page_description = "Read about iWink, their way or working, what initiatives they support and why they support Refresh" %}

{% block content %}

  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Supporter Refresh Conference</p>
      <h1 class="c-heading c-heading--huge u-spacing">iWink</h1>

      <figure class="c-media c-media--overlay c-media--overlay--rotate u-spacing">
        <img src="./dist/images/blog-iwink.jpg" alt="Photos of the iWink team and company" class="c-media__image">
      </figure>

      <p class="c-paragraph c-paragraph--lead">
        iWink helps marketing- and communication professionals reach their target audience with relevant, digital information. Smart, fast and efficient. 
      </p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--medium u-spacing">
        A couple of years ago, iWink made the strategic decision to mainly focus their business on specific sectors, for example healthcare. When building the website for the Bethesda hospital, it struck them how important it is to think about accessibility when building online products. These websites need to work for everyone (including those with older browsers) and via every input (keyboard-only, screen readers for example). It was a logical step to work towards helping more clients in the healthcare sector with their online presence. 
      </p>
      <p class="c-paragraph c-paragraph--medium u-spacing">
        Another sector iWink is focussing on, is the so-called ‘corporate’ sector. An example of a project iWink did in this sector, is a website for the Nijestee (Dutch rental-housing cooperation), where people can file complaints or fixes for their house. The success of this project could be measured fairly easy by seeing the amount of phone calls about complains or fixes drop.
      </p>
    </div><div class="c-layout__container">

      <h2 class="c-heading c-heading--medium">Working on various projects as a developer</h2>
      <p class="c-paragraph c-paragraph--medium u-spacing">
        Because iWink has a very specific focus on those sectors, it’s easy to implement things learned in the past and improve upon that. For the developers itself it’s also nice to switch between various projects, because the needs per sector vary a lot, creating new challenges every time. 
      </p>
      <h2 class="c-heading c-heading--medium ">Software for annual rapports</h2>
      <p class="c-paragraph c-paragraph--medium">
        Besides websites, newsletters and intranet solutions, iWink also offers clients software to generate annual rapports. iWink for example provides RAI Amsterdam, Gasunie and NOM with an annual rapport, that not only works great on every device, but also exports a great looking PDF file. These kinds of projects add a whole new level to the work of a front-ender at iWink, also giving them the opportunity to work on offline media.
    </p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--neutral">
    <div class="c-layout__container">
        <h2 class="c-heading c-heading--medium">Study budget and supporting local initiatives</h2>
      <p class="c-paragraph c-paragraph--medium">
        iWink supports their employees by providing a study budget which they can use to go to conferences, buy books or online courses. When contacting iWink about their support for Refresh, we were happy to hear the entire front-end team already bought tickets for the conference.
      </p>
      <p class="c-paragraph c-paragraph--medium">
        Besides supporting tech initiatives like Refresh, iWink shows their support for the beautiful city of Groningen by supporting <a href="https://www.noorderzon.nl/" rel="external" target="_blank">Noorderzon</a> (yearly local festival, with food and music) and the <a href="https://www.bevrijdingsfestivalgroningen.nl" rel="external" target="_blank">Bevrijdingsfestival</a> (yearly festival to celebrate the Dutch liberation during WW2). 
      </p>
</div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Simplicate</h2>
      <p class="c-paragraph c-paragraph--medium">Check out the <a href="https://iwink.work" rel="external" target="_blank">iWink.work</a> website if you want to learn more about iWink.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/iwink" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>iWink</a>
      </div>
    </div>
  </div>

{% endblock %}
