{% extends 'layout/layout.base.html' %}

{% set page_title = "Press and Media -" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <h1 class="c-heading c-heading--large">Press &amp; Media</h1>
      <p class="c-paragraph--large">We provide a range of materials for the media. This includes press releases, images and photos.</p>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">Press releases</h2>
      <p class="c-paragraph--medium"><a href="refreshconference2019-pressrelease.pdf" rel="noopener" target="_blank">Refresh Conference 2019 press release (PDF, 2.6MB)</a></p>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">Information</h2>
      <p class="c-paragraph--medium"><a href="refreshconference2019-information.pdf" rel="noopener" target="_blank">Refresh Conference 2019 information (PDF, 9.4MB)</a></p>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">Images & Logos</h2>
      <p class="c-paragraph--medium"><a href="refreshconference2019-images.zip" rel="noopener" target="_blank">Refresh Conference 2019 media (ZIP, 372KB)</a></p>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">Photos</h2>
      <p class="c-paragraph--medium">Photos taken by Mark Vletter & Wouter Brem.</p>
      <p class="c-paragraph--medium"><a href="https://www.flickr.com/photos/vletter/albums/72157703147263594" rel="noopener" target="_blank">Refresh Conference 2018 photos (Flickr)</a></p>
    </div>
    <div class="c-layout__container u-spacing--large">
      <h2 class="c-heading c-heading--medium">Video</h2>
      <p class="c-paragraph--medium">Video taken by Ernstjan van Dam.</p>
      <p class="c-paragraph--medium"><a href="https://www.youtube.com/watch?v=NOzGLXYHJak" rel="noopener" target="_blank">Refresh Conference 2018 aftermovie (Youtube)</a></p>
    </div>
  </div>

{% endblock %}
