{% extends 'layout/layout.base.html' %}

{% set page_title = "Schedule -" %}
{% set page_description = "Sechedule for the conference" %}

{% block content %}

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h1 class="c-heading c-heading--large">Schedule</h1>
      <p class="c-paragraph--large">This is the first Refresh Conference, so we did everything in our power to get first class speakers and local speakers combined.</p>

      <div class="c-schedule-row c-schedule-row--naked">
        <div class="c-schedule-time">08:30</div>
        <img class="c-schedule-image" src="./dist/images/refresh.png">
        <div class="c-schedule-description"><strong>Doors are open!</strong></div>
      </div>

      <div class="c-schedule-container">
        <a class="c-schedule-row" href="style-guide-driven-development.html">
          <div class="c-schedule-time">09:00</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--sara_vieira.jpg" alt="Sara Viera">
          </div>
          <div class="c-schedule-description"><strong>Sara Viera</strong> with 'Style guide driven development'</div>
        </a>
        <a class="c-schedule-row" href="css-in-js.html">
          <div class="c-schedule-time">09:30</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--kasia_jastrzebska.png" alt="Kasia Jastrzębska">
          </div>
          <div class="c-schedule-description"><strong>Kasia Jastrzębska</strong> with 'CSS-in-JS'</div>
        </a>
        <a class="c-schedule-row" href="graphql-the-future-of-apis-is-here.html">
          <div class="c-schedule-time">10:00</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--peter_peerdeman.jpg" alt="Peter Peerdeman">
          </div>
          <div class="c-schedule-description"><strong>Peter Peerdeman</strong> with 'GraphQL: The future of APIs is here'</div>
        </a>
      </div>

      <div class="c-schedule-row c-schedule-row--naked">
        <div class="c-schedule-time">10:30</div>
        <img class="c-schedule-image" src="./dist/images/refresh.png">
        <div class="c-schedule-description"><strong>More coffee and tea</strong></div>
      </div>

      <div class="c-schedule-container">
        <a class="c-schedule-row" href="six-ways-to-make-your-site-more-accessible.html">
          <div class="c-schedule-time">11:00</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--hidde_de_vries.jpg" alt="Hidde de Vries">
          </div>
          <div class="c-schedule-description"><strong>Hidde de Vries</strong> with 'Six ways to make your site more accessible'</div>
        </a>
        <a class="c-schedule-row" href="artisti-css.html">
          <div class="c-schedule-time">11:30</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--aga_naplocha.jpg" alt="Aga Naplocha">
          </div>
          <div class="c-schedule-description"><strong>Aga Naplocha</strong> with 'Artisti.css'</div>
        </a>
        <a class="c-schedule-row" href="develop-friendships.html">
          <div class="c-schedule-time">12:00</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--maike_klip.jpg" alt="Maike Klip">
          </div>
          <div class="c-schedule-description"><strong>Maike Klip</strong> with 'Develop Friendships'</div>
        </a>
      </div>

      <div class="c-schedule-row c-schedule-row--naked">
        <div class="c-schedule-time">12:30</div>
        <img class="c-schedule-image" src="./dist/images/refresh.png">
        <div class="c-schedule-description"><strong>Time for a good lunch</strong></div>
      </div>

      <div class="c-schedule-container">
        <a class="c-schedule-row" href="fun-with-bluetooth.html">
          <div class="c-schedule-time">14:00</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--niels_leenheer.jpg" alt="Niels Leenheer">
          </div>
          <div class="c-schedule-description"><strong>Niels Leenheer</strong> with 'Fun with Bluetooth'</div>
        </a>
        <a class="c-schedule-row" href="haute-codeture.html">
          <div class="c-schedule-time">14:30</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--stephanie_nemeth.jpg" alt="Stephanie Nemeth">
          </div>
          <div class="c-schedule-description"><strong>Stephanie Nemeth</strong> with 'Haute Codeture'</div>
        </a>
        <div class="c-schedule-row">
          <div class="c-schedule-time">15:00</div>
          <div class="c-schedule-image c-schedule-image--tba">
          </div>
          <div class="c-schedule-description"><strong>Soon to be announced!</strong> <a href="#curious">Curious?</a></div>
        </div>
      </div>

      <div class="c-schedule-row c-schedule-row--naked">
        <div class="c-schedule-time">12:30</div>
        <img class="c-schedule-image" src="./dist/images/refresh.png">
        <div class="c-schedule-description"><strong>Refreshments</strong></div>
      </div>

      <div class="c-schedule-container">
        <a class="c-schedule-row" href="i-dont-care-what-airbnb-is-doing.html">
          <div class="c-schedule-time">16:00</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--stephen_hay.jpg" alt="Stephen Hay">
          </div>
          <div class="c-schedule-description"><strong>Stephen Hay</strong> with 'I Don't Care What Airbnb is Doing (and Neither Should You)'</div>
        </a>
        <a class="c-schedule-row" href="ten-ways-to-irritate-your-design-team.html">
          <div class="c-schedule-time">16:30</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--jane_austin.jpg" alt="Jane Austin">
          </div>
          <div class="c-schedule-description"><strong>Jane Austin</strong> with 'Ten ways to irritate your design team'</div>
        </a>
        <a class="c-schedule-row" href="the-future-is-design.html">
          <div class="c-schedule-time">17:00</div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--auke_schotanus.png" alt="Auke Schotanus">
          </div>
          <div class="c-schedule-description"><strong>Auke Schotanus</strong> with 'Design <del>of</del> is the future'</div>
        </a>
      </div>

      <div class="c-schedule-row c-schedule-row--naked">
        <div class="c-schedule-time">17:30</div>
        <img class="c-schedule-image" src="./dist/images/refresh.png">
        <div class="c-schedule-description"><strong>Drinks &amp; discussions</strong></div>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
