{% extends 'layout/layout.base.html' %}

{% set page_title = "Schedule -" %}
{% set page_description = "Schedule for the conference" %}

{% block content %}

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h1 class="c-heading c-heading--large">Schedule 2019</h1>
      <p class="c-paragraph c-paragraph--large u-spacing--large">
        We are very proud of this years line-up of international and local first class speakers. Let them inspire you on November 8th.
      </p>

      <div class="c-schedule-row c-schedule-row--naked">
        <div class="c-schedule-time">08:00 <span class="u-visibility-hidden">- 08:50</span></div>
        <div class="c-schedule-image c-schedule-image--empty"></div>
        <div class="c-schedule-description"><strong>Doors are open!</strong></div>
      </div>

      <div class="c-schedule-container u-spacing">
        <div class="c-schedule-row">
          <div class="c-schedule-time">08:50 <span class="u-visibility-hidden">- 09:00</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--joel_kuijten.png" alt="Joël Kuijten">
          </div>
          <div class="c-schedule-description">Opening words by our host <strong>Joël Kuijten</strong></div>
        </div>
      </div>
      <div class="c-schedule-container">
        <a class="c-schedule-row" href="does-it-work-using-the-new-css-layout">
          <div class="c-schedule-time">09:00 <span class="u-visibility-hidden">- 09:30</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--rachel_andrew.png" alt="Rachel Andrew">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Rachel Andrew</strong> <span class="u-visibility-hidden">with</span> Does it work? Using the new CSS layout</div>
        </a>
        <a class="c-schedule-row" href="styling-native-controls">
          <div class="c-schedule-time">09:30 <span class="u-visibility-hidden">- 10:00</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--ana_tudor.png" alt="Ana Tudor">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Ana Tudor</strong> <span class="u-visibility-hidden">with</span> Styling native controls</div>
        </a>
        <a class="c-schedule-row" href="artisti-css">
          <div class="c-schedule-time">10:00 <span class="u-visibility-hidden">- 10:30</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--aga_naplocha.png" alt="Aga Naplocha">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Aga Naplocha</strong> <span class="u-visibility-hidden">with</span> artisti.css</div>
        </a>
      </div>

      <div class="c-schedule-row c-schedule-row--naked">
        <div class="c-schedule-time">10:30 <span class="u-visibility-hidden">- 11:00</span></div>
        <div class="c-schedule-image c-schedule-image--empty"></div>
        <div class="c-schedule-description"><strong class="c-schedule-speaker">Coffee and tea</strong></div>
      </div>

      <div class="c-schedule-container">
        <a href="the-end-of-remote-work" class="c-schedule-row">
          <div class="c-schedule-time">11:00 <span class="u-visibility-hidden">- 11:30</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--job_van_der_voort.png" alt="Job van der Voort">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Job van der Voort</strong> <span class="u-visibility-hidden">with</span> The end of remote work</div>
        </a>
        <a class="c-schedule-row" href="human-first-digital-ethics">
          <div class="c-schedule-time">11:30 <span class="u-visibility-hidden">- 12:00</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--jorn_de_vreede.png" alt="Jorn de Vreede">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Jorn de Vreede</strong> <span class="u-visibility-hidden">with</span> Human first digital ethics</div>
        </a>
        <a class="c-schedule-row" href="become-limitless-with-memory-techniques">
          <div class="c-schedule-time">12:00 <span class="u-visibility-hidden">- 12:30</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--yanjaa_wintersoul.png" alt="Yänjaa Wintersoul">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Yänjaa Wintersoul</strong> <span class="u-visibility-hidden">with</span> Become Limitless <span class="u-visibility-hidden">with</span> Memory Techniques</div>
        </a>
      </div>

      <div class="c-schedule-row c-schedule-row--naked">
        <div class="c-schedule-time">12:30 <span class="u-visibility-hidden">- 14:00</span></div>
        <div class="c-schedule-image c-schedule-image--empty"></div>
        <div class="c-schedule-description"><strong class="c-schedule-speaker">Time for a good lunch</strong></div>
      </div>

      <div class="c-schedule-container">
        <a class="c-schedule-row" href="what-is-live.js">
          <div class="c-schedule-time">14:00 <span class="u-visibility-hidden">- 14:30</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--jan_krutisch.png" alt="Jan Krutisch">
            <img src="./dist/images/bio--tim_pietrusky.png" alt="Tim Pietrusky">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Jan Krutisch & Tim Pietrusky</strong> <span class="u-visibility-hidden">with</span> What is {live:js}?</div>
        </a>
        <a class="c-schedule-row" href="the-forms-boss-battle-and-how-to-avoid-it">
          <div class="c-schedule-time">14:30 <span class="u-visibility-hidden">- 15:00</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--almero_steyn.png" alt="Almero Steyn">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Almero Steyn</strong> <span class="u-visibility-hidden">with</span> The forms boss battle... and how to avoid it</div>
        </a>
        <a class="c-schedule-row" href="human-determination-the-methods-and-ethics-of-automated-turing-tests">
          <div class="c-schedule-time">15:00 <span class="u-visibility-hidden">- 15:30</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--job_van_achterberg.png" alt="Job van Achterberg">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Job van Achterberg</strong> <span class="u-visibility-hidden">with</span> The Methods and Ethics of Automated Turing Tests</div>
        </a>
      </div>

      <div class="c-schedule-row c-schedule-row--naked">
        <div class="c-schedule-time">15:30 <span class="u-visibility-hidden">- 16:30</span></div>
        <div class="c-schedule-image c-schedule-image--empty"></div>
        <div class="c-schedule-description"><strong class="c-schedule-speaker">Refreshments</strong></div>
      </div>

      <div class="c-schedule-container">
        <div class="c-schedule-row">
          <div class="c-schedule-time">16:00 <span class="u-visibility-hidden">- 16:30</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--jantine_doornbos.png" alt="Jantine Doornbos">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Jantine Doornbos</strong> <span class="u-visibility-hidden">with</span> To be announced</div>
        </div>
        <a class="c-schedule-row" href="storytelling-through-brand-identity-visuals">
          <div class="c-schedule-time">16:30 <span class="u-visibility-hidden">- 17:00</span></div>
          <div class="c-schedule-image">
             <img src="./dist/images/bio--jeroen_van_eerden.png" alt="Jeroen van Eerden">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Jeroen van Eerden</strong> <span class="u-visibility-hidden">with</span> Storytelling through Brand Identity Visuals</div>
        </a>
        <a class="c-schedule-row" href="i-have-never-tried-that-before">
          <div class="c-schedule-time">17:00 <span class="u-visibility-hidden">- 17:30</span></div>
          <div class="c-schedule-image">
            <img src="./dist/images/bio--diem_do.png" alt="Diem Do">
          </div>
          <div class="c-schedule-description"><strong class="c-schedule-speaker">Diem Do</strong> <span class="u-visibility-hidden">with</span> &#8220;I have never tried that before, so I think I should definitely be able to do that&#8221;</div>
        </a>
      </div>

      <div class="c-schedule-row c-schedule-row--naked u-spacing--large">
        <div class="c-schedule-time">17:30 <span class="u-visibility-hidden">- 19:00</span></div>
        <div class="c-schedule-image c-schedule-image--empty"></div>
        <div class="c-schedule-description"><strong>Drinks &amp; discussions</strong></div>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
