{% extends 'layout/layout.base.html' %}

{% set page_title = "Blog - Supporter Simplicate" %}
{% set page_description = "Read about Simplicate, their way or working, what initiatives they support and why they support Refresh" %}

{% block content %}

  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Supporter Refresh Conference</p>
      <h1 class="c-heading c-heading--huge u-spacing">Simplicate</h1>

      <figure class="c-media c-media--overlay c-media--overlay--rotate u-spacing">
        <img src="./dist/images/blog-simplicate.jpg" alt="Photos of the Simplicate team" class="c-media__image">
      </figure>

      <p class="c-paragraph c-paragraph--lead">
        Simplicate makes user-friendly business software, where clients can manage their core activities, from CRM and project management to invoicing. The product is easy to implement and integrate with other tools. Simplicate makes the client’s work easy, so that they can concentrate on what they’re good at. 
      </p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--medium u-spacing">
        Currently Simplicate has around 30 employees, of which 9 are developing their ‘Software-as-a-service (SaaS)’ software. Even though the application was initially written as a monolithic app, they’re currently working on rewriting their application to a React front-end, talking to the back-end via APIs. 
      </p>
      <p class="c-paragraph c-paragraph--medium u-spacing">
        One of the company’s strong points is discussing tech and implementations with the entire team, and when a specific framework, integration or process is (democratically) chosen, not holding a grudge against each other about personal preferences. The company itself only offers one product, which means the entire team is working on Simplicate, meaning everyone in the company is fully involved in making it a success. Not only releasing new features and maintaining the platform, but also offering support and talking to clients regularly. Never losing sight of their main goal, keeping the software as simple as possible (as their name implies).
      </p>

      <h2 class="c-heading c-heading--medium">Transparent Roadmap and public APIs</h2>
      <p class="c-paragraph c-paragraph--medium">
        Simplicate provides a transparent <a href="https://www.simplicate.nl/roadmap/" rel="external" target="_blank">roadmap</a> for their customers, which is publicly visible for everyone. On this roadmap clients can see what is planned and what is being worked on. Via various communication channels clients can talk to Simplicate’s support, to open feature requests, support cases and bugs. If a good idea comes in, it gets placed on the public roadmap, clients can vote what idea gets the highest priority, after which the idea gets validated and tested by clients.
      </p>
      <p class="c-paragraph c-paragraph--medium">
        A lot of public APIs and integrations are available, which companies can use to build their own features. A nice result of this, is that clients sometimes build features that are also useful to other companies. When possible, Simplicate connects these companies to help each other, and where necessary offers support for API’s and other tech-related questions.
    </p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--neutral">
    <div class="c-layout__container">
        <h2 class="c-heading c-heading--medium">Devdays and supporting Refresh</h2>
      <p class="c-paragraph c-paragraph--medium">
          A way for the Simplicate team to work on new ideas, and get inspiration from each other is organising their Devdays. This is somewhat similar to a hackathon, where people pitch ideas which you can work on with your team. It’s a very good concept for developing and executing ideas, but also to get to know colleagues on a different level. Besides doing Devdays, Simplicate has a study budget for its employees, which they can use to go to conferences, do online courses or buy and read books. Basically nothing is too much, if you think doing a course that can help you as a person and can help you grow professionally, go for it.
      </p>
      <p class="c-paragraph c-paragraph--medium">
          Simplicate is happy to help make Refresh happen, mostly because there isn’t a similar conference in the North and it’s a good way to show the quality of developers and designers in Groningen and surroundings. By supporting initiatives like these, people from outside Groningen can see there’s a lot to do with tech up in the North.
      </p>
</div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Simplicate</h2>
      <p class="c-paragraph c-paragraph--medium">Check out the <a href="https://simplicate.nl" rel="external" target="_blank">Simplicate</a> website if you want to learn more about Simplicate.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/SimplicateNL" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>Simplicate</a>
      </div>
    </div>
  </div>

{% endblock %}
