{% extends 'layout/layout.base.html' %}

{% set page_title = "Speakers -" %}
{% set page_description = "Check out our list of awesome speakers for the Refresh Conference 2019" %}

{% block content %}

  <div class="c-layout__row" id="speakers">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Our speakers & host</h2>
      <p class="c-paragraph c-paragraph--large u-spacing--large">
        We are very proud of this years line-up of international and local first class speakers. Let them inspire you on November 8th.
      </p>

      <div class="c-grid c-grid--thirds c-speakers">
        <a href="storytelling-through-brand-identity-visuals" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/jeroen_van_eerden.webp">
            <source type="image/png" srcset="./dist/images/jeroen_van_eerden.png">
            <img src="./dist/images/jeroen_van_eerden.png" alt="Jeroen van Eerden">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Jeroen van Eerden</h3>
            <h4 class="c-speakers__subject c-speakers__subject--xsmall">Storytelling through Brand Identity Visuals</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </a>
        <a href="artisti-css" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/aga_naplocha.webp">
            <source type="image/png" srcset="./dist/images/aga_naplocha.png">
            <img src="./dist/images/yanjaa_wintersoul.png" alt="Aga Naplocha">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Aga Naplocha</h3>
            <h4 class="c-speakers__subject">artisti.css</h4>
          </hgroup>
          <span class="c-speakers__country">PL</span>
        </a>
        <a href="the-end-of-remote-work" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/job_van_der_voort.webp">
            <source type="image/png" srcset="./dist/images/job_van_der_voort.png">
            <img src="./dist/images/job_van_der_voort.png" alt="Job van der Voort">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Job van der Voort</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">The end of remote work</h4>
          </hgroup>
          <span class="c-speakers__country">PT</span>
        </a>
        <a href="does-it-work-using-the-new-css-layout" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/rachel_andrew.webp">
            <source type="image/png" srcset="./dist/images/rachel_andrew.png">
            <img src="./dist/images/rachel_andrew.png" alt="Rachel Andrew">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Rachel Andrew</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">Does it work? Using the new CSS layout</h4>
          </hgroup>
          <span class="c-speakers__country">UK</span>
        </a>
        <a href="the-forms-boss-battle-and-how-to-avoid-it" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/almero_steyn.webp">
            <source type="image/png" srcset="./dist/images/almero_steyn.png">
            <img src="./dist/images/almero_steyn.png" alt="Almero Steyn">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Almero Steyn</h3>
            <h4 class="c-speakers__subject c-speakers__subject--xsmall">The forms boss battle... and how to avoid it</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </a>
        <a href="become-limitless-with-memory-techniques" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/yanjaa_wintersoul.webp">
            <source type="image/png" srcset="./dist/images/yanjaa_wintersoul.png">
            <img src="./dist/images/yanjaa_wintersoul.png" alt="Yänjaa Wintersoul">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Yänjaa Wintersoul</h3>
            <h4 class="c-speakers__subject c-speakers__subject--xsmall">Become Limitless with Memory Techniques</h4>
          </hgroup>
          <span class="c-speakers__country">US</span>
        </a>
        <a href="human-first-digital-ethics" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/jorn_de_vreede.webp">
            <source type="image/png" srcset="./dist/images/jorn_de_vreede.png">
            <img src="./dist/images/jorn_de_vreede.png" alt="Jorn de Vreede">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Jorn de Vreede</h3>
            <h4 class="c-speakers__subject">Human first digital ethics</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </a>
        <a href="styling-native-controls.html" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/ana_tudor.webp">
            <source type="image/png" srcset="./dist/images/ana_tudor.png">
            <img src="./dist/images/ana_tudor.png" alt="Ana Tudor">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Ana Tudor</h3>
            <h4 class="c-speakers__subject">Styling Native Controls</h4>
          </hgroup>
          <span class="c-speakers__country">UA</span>
        </a>
        <a href="human-determination-the-methods-and-ethics-of-automated-turing-tests" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/job_van_achterberg.webp">
            <source type="image/png" srcset="./dist/images/job_van_achterberg.png">
            <img src="./dist/images/job_van_achterberg.png" alt="Job van Achterberg">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Job van Achterberg</h3>
            <h4 class="c-speakers__subject c-speakers__subject--xsmall">The Methods and Ethics of Automated Turing Tests</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </a>
        <a href="i-have-never-tried-that-before" class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/diem_do.webp">
            <source type="image/png" srcset="./dist/images/diem_do.png">
            <img src="./dist/images/diem_do.png" alt="Diem Do">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Diem Do</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">&#8220;I have never tried that before&#8221;</h4>
          </hgroup>
        </a>
        <a href="what-is-live.js" class="c-speakers__item c-speakers__item--duo">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/jan_krutisch-tim_pietrusky.webp">
            <source type="image/png" srcset="./dist/images/jan_krutisch-tim_pietrusky.png">
            <img src="./dist/images/jan_krutisch-tim_pietrusky.png" alt="Jan Krutisch & Tim Pietrusky">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Jan Krutisch & Tim Pietrusky</h3>
            <h4 class="c-speakers__subject">What is {live:js}?</h4>
          </hgroup>
          <span class="c-speakers__country">DE</span>
        </a>
      </div>
      <div class="c-grid c-grid--thirds c-speakers">
        <div class="c-speakers__item c-speakers__item--host">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/team--joel_kuijten.webp">
            <source type="image/png" srcset="./dist/images/team--joel_kuijten.png">
            <img src="./dist/images/team--joel_kuijten.png" alt="Joël Kuijten">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Joël Kuijten</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">Our host</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </div>
        <div class="c-speakers__item">
          <picture class="c-speakers__img">
            <source type="image/webp" srcset="./dist/images/jantine_doornbos.webp">
            <source type="image/png" srcset="./dist/images/jantine_doornbos.png">
            <img src="./dist/images/jantine_doornbos.png" alt="Jantine Doornbos">
          </picture>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Jantine Doornbos</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">To be announced</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
