{% extends 'layout/layout.base.html' %}

{% set page_title = "Speakers -" %}
{% set page_description = "Check out our list of awesome speakers for the Refresh Conference 2019" %}

{% block content %}

  <div class="c-layout__row" id="speakers">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Our speakers & host</h2>
      <p class="c-paragraph c-paragraph--large u-spacing--large">
        The speakers attending the conference will be a combination of big names in the field as well as awesome locals who share our passion.
      </p>
      <div class="c-grid c-grid--thirds c-speakers u-spacing--large">
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/tba1.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Speaker</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">TBA</h4>
          </hgroup>
          <span class="c-speakers__country">US</span>
        </div>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/tba2.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Speaker</h3>
            <h4 class="c-speakers__subject">TBA</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </div>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/tba3.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Speaker</h3>
            <h4 class="c-speakers__subject">TBA</h4>
          </hgroup>
          <span class="c-speakers__country">PL</span>
        </div>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/tba4.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Speaker</h3>
            <h4 class="c-speakers__subject">TBA</h4>
          </hgroup>
          <span class="c-speakers__country">US</span>
        </div>
        <div class="c-speakers__item c-speakers__item--host">
          <div class="c-speakers__img" style="background-image: url('./dist/images/tba1.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Host</h3>
            <h4 class="c-speakers__subject">TBA</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </div>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/tba2.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Speaker</h3>
            <h4 class="c-speakers__subject">TBA</h4>
          </hgroup>
          <span class="c-speakers__country">LX</span>
        </div>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/tba3.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Speaker</h3>
            <h4 class="c-speakers__subject">TBA</h4>
          </hgroup>
          <span class="c-speakers__country">BE</span>
        </div>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/tba4.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Speaker</h3>
            <h4 class="c-speakers__subject">TBA</h4>
          </hgroup>
          <span class="c-speakers__country">NL</span>
        </div>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/tba1.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">And 4 more speakers</h3>
            <h4 class="c-speakers__subject">TBA</h4>
          </hgroup>
          <span class="c-speakers__country">+4</span>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
