{% extends 'layout/layout.base.html' %}

{% set page_title = "Speakers -" %}
{% set page_description = "Check out our list of awesome speakers for the Refresh Conference 2018" %}

{% block content %}

  <div class="c-layout__row" id="speakers">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Our speakers</h2>
      <p class="c-paragraph c-paragraph--large u-spacing">
        The speakers attending the conference will be a combination of big names in the field as well as awesome locals who share our passion.
      </p>
      <div class="c-grid c-grid--thirds c-speakers u-spacing">
        <a href="style-guide-driven-development.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/sara_vieira.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Sara Vieira</h3>
            <h4 class="c-speakers__subject">Style Guide Driven Development</h4>
          </hgroup>
        </a>
        <a href="the-future-is-design.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/auke_schotanus.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Auke Schotanus</h3>
            <h4 class="c-speakers__subject"><span class="u-display-block">The future</span> <del>of</del> is design</h4>
          </hgroup>
        </a>
        <a href="haute-codeture.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/stephanie_nemeth.jpg')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Stephanie Nemeth</h3>
            <h4 class="c-speakers__subject">Haute Codeture</h4>
          </hgroup>
        </a>
        <a href="six-ways-to-make-your-site-more-accessible.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/hidde_de_vries.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Hidde de Vries</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">Six ways to make your site more accessible</h4>
          </hgroup>
        </a>
        <a href="css-in-js.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/kasia_jastrzebska.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Kasia Jastrzębska</h3>
            <h4 class="c-speakers__subject">CSS-in-JS</h4>
          </hgroup>
        </a>
        <a href="fun-with-bluetooth.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/niels_leenheer.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Niels Leenheer</h3>
            <h4 class="c-speakers__subject">Fun with bluetooth</h4>
          </hgroup>
        </a>
        <a href="develop-friendships.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/maike_klip.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Maike Klip</h3>
            <h4 class="c-speakers__subject">Develop Friendships</h4>
          </hgroup>
        </a>
        <a href="graphql-the-future-of-apis-is-here.html" class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/peter_peerdeman.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">Peter Peerdeman</h3>
            <h4 class="c-speakers__subject c-speakers__subject--small">GraphQL: The future of APIs is here</h4>
          </hgroup>
        </a>
        <div class="c-speakers__item">
          <div class="c-speakers__img" style="background-image: url('./dist/images/speaker_tba.png')"></div>
          <hgroup class="c-speakers__content">
            <h3 class="c-speakers__speaker">4 more speakers</h3>
            <h4 class="c-speakers__subject">Stay tuned!</h4>
          </hgroup>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
