{% extends 'layout/layout.base.html' %}

{% set page_title = "Jeroen van Eerden -" %}
{% set page_description = "Jeroen van Eerden - Storytelling through Brand Identity Visuals" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--jeroen_van_eerden.png" alt="Jeroen van Eerden">
      </figure>
      <p class="c-paragraph c-paragraph--large u-spacing--small">Jeroen van Eerden</p>
      <h1 class="c-heading c-heading--huge">Storytelling through<br> Brand Identity Visuals</h1>
      <p class="c-paragraph c-paragraph--lead">Dive into the creative process and discover the power of storytelling via brand identity visuals.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Jeroen van Eerden</h2>
      <p class="c-paragraph c-paragraph--medium">Jeroen is a passionate logo and identity designer whose work has been described as having a clean, corporate and minimal style often using bright colours, simple palettes and pre-existing sans serif typefaces.</p>
      <p class="c-paragraph c-paragraph--medium">Based in Groningen, The Netherlands, he has worked as an independent designer for more than 150 companies worldwide over the last 8 years, some of the more notable clients including Google, Disney, Adobe and Tinder.</p>
      <p class="c-paragraph c-paragraph--medium">He has his Bachelor Degree in Multimedia Design from the Leeuwarden University (NHL), and in his free time he likes to take photographs, drink specialty coffee, and play outside with his daughter and Corgi.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/jeroenvaneerden" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>jeroenvaneerden</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
