{% extends 'layout/layout.base.html' %}

{% set page_title = "Jane Austin -" %}
{% set page_description = "Jane Austin - Ten ways to irritate your design team" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Jane Austin</p>
      <h1 class="c-heading c-heading--huge">Ten ways to irritate your design team</h1>
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--jane_austin.jpg" alt="Jane Austin">
      </figure>
      <p class="c-paragraph c-paragraph--lead">How can good design be integrated into your business profitably? Jane will answer this question by considering the ‘anti-problem’. She will share 10 ways designers and business people can guarantee their behaviours and activities will ensure they never see eye-to-eye, their efforts will be wasted and everyone involved will know it is not their fault. You will probably recognise most of these techniques in action in your own organisation. That is the anti-pattern.</p>
      <p class="c-paragraph c-paragraph--lead">If things are going to change for the better, do the opposite.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Jane Austin</h2>
      <p class="c-paragraph c-paragraph--medium">Jane currently works as Director of Design and UX at <a href="https://moo.com" rel="external" target="_blank">MOO</a>, the online print business that is passionate about great design and the difference it can make to its customers and the world. Prior to this she was Head of UX at Telegraph Media Her skills have been developed with time at Government Digital Service (GDS), IG Index and various startups and agencies.</p>
      <p class="c-paragraph c-paragraph--medium">Her biggest passion at work is for building high performance teams and demonstrating the value that design can bring to an organisation.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/msjaneaustin" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>msjaneaustin</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
