{% extends 'layout/layout.base.html' %}

{% set page_title = "Blog - Support theFactor.e" %}
{% set page_description = "Read more about theFactor.e, their way of working, Billy, and why they're supporting Refresh" %}

{% block content %}

  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Supporter Refresh Conference</p>
      <h1 class="c-heading c-heading--huge u-spacing">TheFactor.e</h1>

      <figure class="c-media c-media--overlay c-media--overlay--rotate u-spacing">
        <img src="./dist/images/blog-tfe.jpg" alt="Photos of theFactor.e team" class="c-media__image">
      </figure>

      <p class="c-paragraph c-paragraph--lead">theFactor.e (TFE) helps clients make their ‘online’ presence personal. As a full service digital agency, theFactor.e provides a healthy combination of creativity, tech, data and sensitivity when working with a client. In that collaboration, the client provides knowledge of the market and theFactor.e knowledge of the online counterparts, creating a collaboration that delivers personal digital experiences that makes users truly happy and products easy and fun to use.</p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
        <h2 class="c-heading c-heading--medium">Thinking about the user</h2>
      <p class="c-paragraph c-paragraph--medium">A shift that has been happening over the last years is that <strong>the user becomes a more and more central and important part of a project</strong>. It’s not so much about the ideas a client already has and you just executing those, but also about doing research and providing data. For example by talking to users to validate ideas or assumptions before diving into executing and building.</p>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">Meet Billy!</h2>
      <p class="c-paragraph c-paragraph--medium u-spacing">An awesome project by theFactor.e, is doing this research with their usability-bus, called Billy. This ‘all-in-one-research-vehicle’ provides a good way to actually come to users their homes or offices, providing a comfortable place to talk, while also being able to use technical methods like eye-tracking or A/B testing. The bus can also be used very easily for doing research on the streets, asking a random group of people to come in and help.</p>
      <div class="c-embedded">
        <iframe width="560" height="315" class="" src="https://www.youtube.com/embed/CayjCyHWU8A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--neutral">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--medium">One of the reasons theFactor.e is happy to help make Refresh Conference happen, is that they think it’s a <strong>great initiative to provide a low barrier of knowledge sharing across relevant roles like front-end, UX and design within Groningen</strong>. In contrary to most conferences taking place in the western parts of the Netherlands. theFactor.e has different teams per project, where back- and front-end, design, UX, but also product-owners, SCRUM masters and other similar roles work together on one project. Besides working together it’s also good to step out of that comfort and visit meetups and conferences together, not only providing a good way to share knowledge, but also bond as a team.
  </p>
</div>
<div class="c-layout__container">
    <h2 class="c-heading c-heading--medium">Knowledge sharing and learning</h2>
      <p class="c-paragraph c-paragraph--medium">The front-end team decides per project what works best for that specific project, making it so that they’re used to working with a lot of different frameworks. This is great, and besides learning and discussing with the team, going to conferences that have a lot of like-minded people walking around, also helps mirror and acknowledge the way of working within the company, or to even inspire to do it completely different.</p>
      <p class="c-paragraph c-paragraph--medium">Ronald Schipper of theFactor.e also feels they should open up a bit more as a company, proactively stimulating employees to go visit meetups and conferences, but also providing a place for external people to learn about the things theFactor.e learned. For example by opening up their company-wide knowledge sharing sessions (called beer-pizza sessions) to anyone interested, or by hosting and providing a location for relevant meetup groups in Groningen.</p>
    </div>
  </div>

  <div class="c-layout__row c-layout__row--white">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">theFactor.e</h2>
      <p class="c-paragraph c-paragraph--medium">Fullservice digital agency located in Groningen & Amsterdam. Check out more information and cool projects on the website of <a href="https://tfe.nl" rel="external" target="_blank">TFE</a>.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/thefactore" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>TheFactor.e</a>
      </div>
    </div>
  </div>

{% endblock %}
