{% extends 'layout/layout.base.html' %}

{% set page_title = "Auke Schotanus -" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Auke Schotanus</p>
      <h1 class="c-heading c-heading--huge">Design <del>of</del> is the future</h1>
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--auke_schotanus.png" alt="">
      </figure>
      <p class="c-paragraph c-paragraph--lead">Until recently, one of the biggest challenges for organisations was to deploy their IT capabilities to achieve the highest possible efficiencies within their business processes. However, changing consumer behaviour and emerging technologies demand that organisations make an even more difficult transition to become extremely customer-centic. Many organisations are really struggling to make this transition.</p>
      <p class="c-paragraph c-paragraph--medium">Front-end and design practices are all about shifting your focus and efforts towards creating value for the people you are designing for. The opportunities for you as a designer are endless, and the impact that you can make is real. The role that design will play within organisations is becoming vital for survival. In his talk, Auke will explore these opportunities and provide a glimpse into the future of design.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Auke Schotanus</h2>
      <p class="c-paragraph c-paragraph--medium">As founder of <a href="http://www.pontonniers.com/" rel="external" target="_blank">Pontonniers</a>, Auke helps organisations reshape how they deliver value in an ever changing digital world and guide them in their transformation to become more agile and have more attention for innovation. He started his career at Deloitte Consulting and has years of experience as a strategic adviser and programme manager with organisations in various industries in Europe.</p>
      <p class="c-paragraph c-paragraph--medium">Also, he co-founded Design Thinking Communities in Amsterdam and Groningen, a community of more than 1.800 members, which aims to research and promote the use of design thinking as an approach in various business and social challenges.</p>
      <p class="c-paragraph c-paragraph--medium">During projects he uses these principles of design in collaboration with his clients to create enduring change through human-centered experiences, products and services.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/aukeschotanus" rel="external" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>aukeschotanus</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
