{% extends 'layout/layout.base.html' %}

{% set page_title = "Almero Steyn -" %}
{% set page_description = "Almero Steyn - The forms boss battle... and how to avoid it." %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Almero Steyn</p>
      <h1 class="c-heading c-heading--huge">The forms boss battle... and how to avoid it.</h1>
      <picture class="c-media c-media--overlay c-media--right">
        <source type="image/webp" srcset="./dist/images/bio--almero_steyn.webp">
        <source type="image/png" srcset="./dist/images/bio--almero_steyn.png">
        <img class="c-media__image" src="./dist/images/bio--almero_steyn.png" alt="Almero Steyn">
      </picture>
      <p class="c-paragraph c-paragraph--lead">Forms, for example signup and login pages, are extremely important for communication with users. Yet most online examples of these are currently inaccessible to many people. Almero Steyn demonstrates how to build accessible forms in HTML and then translates that to modern JavaScript applications, with React as example.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Almero Steyn</h2>
      <p class="c-paragraph c-paragraph--medium">Almero is a freelance front-end engineer, speaker and trainer specialising in React and accessibility. Using solutions he created or collected during years of working on real world projects, he loves building websites all humans can use.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/kryptos_rsa" rel="noopener" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>kryptos_rsa</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta.html' %}

{% endblock %}
