{% extends 'layout/layout.base.html' %}

{% set page_title = "Job van der Voort -" %}
{% set page_description = "Job van der Voort - The end of remote work" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Job van der Voort</p>
      <h1 class="c-heading c-heading--huge">The end of remote work</h1>
      <figure class="c-media c-media--overlay c-media--right">
        <picture>
          <source type="image/webp" srcset="./dist/images/bio--job_van_der_voort.webp">
          <source type="image/png" srcset="./dist/images/bio--job_van_der_voort.png">
          <img class="c-media__image" src="./dist/images/bio--job_van_der_voort.png" alt="Job van der Voort">
        </picture>
      </figure>
      <p class="c-paragraph c-paragraph--lead">Remote work will no longer be a thing in the future. It’ll be like everything else, just: work. Why is this the case and how will we get there? What is stopping us?</p>
      <p class="c-paragraph c-paragraph--medium">In this talk, I’ll explain, question and challenge us to reconsider the way we think about work and life - and discuss some of the challenges of bringing the future closer.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Job van der Voort</h2>
      <p class="c-paragraph c-paragraph--medium">Coming from neuroscience, Job went head-first into tech by starting a startup, later joining GitLab as VP of Product to help scale it from 5 people to a unicorn with 400+ employees. He’s now helping the world work remotely as CEO of <a href="https://remote.com" rel="noopener" target="_blank">Remote.com</a>.</p>
      <p class="c-paragraph c-paragraph--medium">In his free time Job loves to spend time with his wife and daughter, and play games and guitar.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/jobvo" rel="noopener" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>jobvo</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
