{% extends 'layout/layout.base.html' %}

{% set page_title = "Traveling information -" %}
{% set page_description = "All the information needed to travel to Groningen and the Refresh Conference" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--large">Traveling</h2>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">Coming from Schiphol Airport</h2>
      <p class="c-paragraph--medium">
        There are various trains going to Groningen. For the up-to-date times the easiest is to check the signs at the airport. The platform the train is leaving from is either 1, 2 or 3. There are two trains, of which one has a transfer in Zwolle, the other one is direct. Both are the same price (€25.30 for a single ticket) and take respectively 2h 29m and 2h 09m.
      </p>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">Coming from Groningen Airport</h2>
      <p class="c-paragraph--medium">
        Groningen Airport is about 15km from the citycentre. There's a shuttle bus (line 100) going to the city centre, which connects flights from London, Copenhagen and München. There's also a regular bus (line 9) which takes about ~35 minutes to the main station.
      </p>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">Bus from the Groningen main station to the venue</h2>
      <p class="c-paragraph--medium">
        Busses from the main station of Groningen (Groningen Hoofdstation) go every ~10 minutes. You can take the next lines to the venue:
      </p>
      <ul class="c-list-unordered">
        <li>Bus 4 from platform J (3 minute walk to venue)</li>
        <li>Bus 3 from platform J (3 minute walk to venue)</li>
        <li>Bus 10 from platform F (6 minute walk to venue)</li>
      </ul>
    </div>
    <div class="c-layout__container">
      <h2 class="c-heading c-heading--medium">By car</h2>
      <p class="c-paragraph--medium">
        The easiest place to park your car near the venue is the <a href="http://www.interparking.nl/en/find-parking/Boterdiep/" rel="external" target="_blank">Boterdiep Parking<span class="u-visibility-hidden"> (external website)</span></a>. This parking is opened 24/7 and costs €10 per day. There are three entrances, of which entrance 3 (located at the Bloemsingel 10, right across the venue) is the easiest to navigate to when coming from outside of Groningen.
      </p>
    </div>
  </div>

{% endblock %}
