{% extends 'layout/layout.base.html' %}

{% set page_title = "Jan Krutisch & Tim Pietrusky -" %}
{% set page_description = "Jan Krutisch & Tim Pietrusky - What is {live:js}?" %}

{% block content %}

  </div>

  <div class="c-layout__row c-layout__row--white c-layout__row--skyline">
    <div class="c-layout__container">
      <p class="c-paragraph c-paragraph--large u-spacing--small">Jan Krutisch & Tim Pietrusky</p>
      <h1 class="c-heading c-heading--large">What is {live:js}?</h1>
      <p class="c-paragraph c-paragraph--lead">Have you ever wondered how the web can be used to connect people with each other in a way that involves live audio & visual experiences? {live:js} is a group of artists that tries to do this and more using a lot of JavaScript, but is expanding into other directions as well.</p>
    </div>
  </div>

  <div class="c-layout__row">
    <div class="c-layout__container">
      <figure class="c-media c-media--overlay c-media--right">
          <img class="c-media__image" src="./dist/images/bio--jan_krutisch.png" alt="Jan Krutisch">
      </figure>
      <h2 class="c-heading c-heading--large">Jan Krutisch</h2>
      <p class="c-paragraph c-paragraph--medium">Jan is an environmental engineer by training who has built web applications for more than 20 years for reasons not entirely clear to anyone.</p>
      <p class="c-paragraph c-paragraph--medium">He's based in Hamburg, Germany where he lives with a bunch of synthesizers, computers and a 3d printer.</p>
      <p class="c-paragraph c-paragraph--medium">He's a musician in {live:js} and creates tracks in all styles between techno and hip hop.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/halfbyte" rel="noopener" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>halfbyte</a>
      </div>
    </div>

    <div class="c-layout__container">
      <figure class="c-media c-media--overlay c-media c-media--overlay--light c-media--right">
          <img class="c-media__image" src="./dist/images/bio--tim_pietrusky.png" alt="Tim Pietrusky">
      </figure>
      <h2 class="c-heading c-heading--large">Tim Pietrusky</h2>
      <p class="c-paragraph c-paragraph--medium">Tim lives with his lovely family directly next to a forest, co-founded Synoa to work as the technical lead, performs as a Digital Artist (aka NERDDISCO) around the world as part of {live:js} + schickmalzwo and does useless things with the Bullgit crew. His passion is to connect all the things with each other.</p>
      <div class="c-socials">
        <a class="c-socials__link" href="https://twitter.com/TimPietrusky" rel="noopener" target="_blank">
          <svg class="c-socials__icon" viewBox="0 0 512 512">
            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
          </svg>TimPietrusky</a>
      </div>
    </div>
  </div>

  {% include 'partials/cta2.html' %}

{% endblock %}
