/*------------------------------------*\
  #COMPONENTS-PARAGRAPH
\*------------------------------------*/

.c-paragraph--large {
  color: #aaa0b5;
  font-size: var(--font-size-60);
  line-height: var(--line-height-30);
  font-weight: 300;
  max-width: 640px;
}

.c-paragraph--medium {
  font-size: var(--font-size-40);
}

.c-paragraph--small {
  color: var(--color-neutral-50);
  font-size: var(--font-size-20);
}
