.c-label {
  background: #daf7dd;
  border-radius: 1.5rem;
  color: var(--color-primary-50);
  display: inline-block;
  font-size: 1.125rem;
  margin-bottom: .25rem;
  margin-right: .5rem;
  padding: .5rem 1.5rem;
}

.c-label--small {
  font-size: .875rem;
  font-weight: 500;
  padding: 0 1.5rem;
}
