/*------------------------------------*\
  #COMPONENTS-MAILCHIMP
\*------------------------------------*/

#mc_embed_signup form#mc-embedded-subscribe-form {
  text-align: left;
  margin-bottom: 2.5rem;

  & input {
    border-color: #8C958C;
    border-radius: 0;
    font-family: var(--font-family-body);
    font-size: 1.25rem;
    height: 48px;
    margin-bottom: .5rem;
  }

  & .button {
    background: #daf7dd;
    border: 2px solid transparent;
    border-radius: 0;
    color: var(--color-primary-50);
    font-family: var(--font-family-body);
    font-weight: 600;

    &:hover,
    &:focus {
      background: var(--color-white);
      border: 2px dashed #daf7dd;
      color: var(--color-primary-50);
    }

    &:visited {
      color: var(--color-primary-70);
    }

    &:active {
      border: 2px solid var(--color-primary-50);
    }
  }
}
