.c-list-unordered {
  color: #8C958C;
  font-size: var(--font-size-50);
  padding-left: 1.5rem;
  line-height: var(--line-height-30);
}

.c-list-unordered li {
  margin-bottom: var(--space-25);
}

.c-list-unordered li a {
  text-decoration: none;
}
