/*------------------------------------*\
  #COMPONENTS-NAVIGATION
\*------------------------------------*/

.c-navigation {
  display: none;
  float: right;
  list-style: none;
  margin-right: -1rem;
  margin-top: 1rem;

  @media(--breakpoint-20) {
    display: block;
  }
}

.c-navigation__item {
  display: inline;
}

.c-navigation__link {
  color: #AAA1B5;
  font-size: var(--font-size-40);
  font-weight: 600;
  margin: 0 1rem;
  text-decoration: none;
  text-transform: lowercase;

  &:hover,
  &:focus {
    color: var(--color-primary-50);
    border-bottom: 2px dashed var(--color-primary-50);
  }

  &:active {
    /* TODO Add CSS style */
  }
}

.c-navigation__link--active {
  color: var(--color-primary-50);
}
