/*------------------------------------*\
  #COMPONENTS-SPEAKERS
\*------------------------------------*/

.c-speakers {
  padding: 3rem 0;
}

.c-speakers__content {
  bottom: 0;
  color: var(--color-white);
  padding: 1rem;
  position: absolute;
  z-index: 4;

  @media(--breakpoint-30) {
    padding: 1rem 0 1rem 1rem;
    width: 113%;
  }
}

.c-speakers__img {
  background-position: 50% 50%;
  background-size: cover;
  content: "";
  height: 100%;
  width: 100%;
  transition: transform .2s ease-out;
}

.c-speakers__item {
  position: relative;
  height: 400px;

  &:hover,
  &:focus {

    & .c-speakers__img {
      transform: rotate(4deg) scale(1.1);
    }

    & .c-speakers__speaker {
      opacity: .7;
    }

    &::before {
      transform: rotate(-5deg);
      -webkit-backface-visibility: hidden;
    }
  }

  @media(--breakpoint-30) {
    background-position: 50% 50%;
    margin-top: 2rem;
  }

  &::after {
    background: var(--color-white);
    box-shadow: 0 0 64px rgba(0,0,0, .15);
    content: "";
    display: none;
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 75%;
    left: var(--space-40);
    bottom: calc(-1*var(--space-40));

    @media(--breakpoint-30) {
      display: block;
    }
  }

  &:first-child {
    @media(--breakpoint-30) {
      margin-top: 1rem;
    }

    &:hover,
    &:focus {
      & .c-speakers__img {
        transform: rotate(-6deg) scale(1.1);
      }

      &::before {
        transform: rotate(4.5deg);
      }
    }
  }

  &:first-child::after {
    width: 100%;
    height: 75%;
    left: var(--space-40);
    top: var(--space-40);
  }

  &:last-child {
    @media(--breakpoint-30) {
      margin-top: 0;
    }

    &:hover,
    &:focus {
      & .c-speakers__img {
        transform: rotate(-2deg) scale(1.1);
      }

      &::before {
        transform: rotate(6deg);
      }
    }
  }

  &:last-child::after {
    width: 100%;
    height: 85%;
    left: auto;
    right: var(--space-40);
    bottom: var(--space-40);
  }

  &::before {
    background-image: linear-gradient(135deg, var(--color-secondary-50) 0%, #5F2BD5 100%);
    content: "";
    display: block;
    filter: saturate(1.25);
    height: 100%;
    position: absolute;
    opacity: .70;
    width: 100%;
    transition: transform .2s ease-out;
    z-index: 3;
  }
}

.c-speakers__link {
  color: var(--color-secondary-50);
  font-size: var(--font-size-50);
  font-weight: 500;
  text-decoration: none;
}

.c-speakers__speaker {
  font-weight: 600;
  letter-spacing: 12px;
  line-height: var(--line-height-20);
  opacity: .6;
  padding-right: 4rem;
  text-transform: uppercase;
}

.c-speakers__subject {
  font-size: 2.5rem;
  line-height: 3rem;
  text-shadow: 0 2px 10px rgba(0,0,0,.25);

  @media(--breakpoint-30) {
    font-size: 3.188rem;
  }
}
