/*------------------------------------*\
  #COMPONENTS-BUTTON
\*------------------------------------*/

.c-bar {
  background: var(--color-primary-50);
  bottom: 0;
  color: var(--color-white);
  display: none;
  font-size: var(--font-size-30);
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 3rem;
  position: fixed;
  width: 100%;
  z-index: 10000;

  @media(--breakpoint-10) {
    display: block;
  }

  @media(--breakpoint-20) {
    font-size: var(--font-size-40);
  }

  & p {
    margin-bottom: 0;
    margin-right: auto;
    padding-right: .5rem;

    @media(--breakpoint-20) {
      padding-right: 1rem;
    }
  }
}
