<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page_title}} - Refresh Conference</title>
  <meta name="description" content="nternational design & front-end conference in Groningen, NL on the 26th of October 2018.">

  <link crossorigin="anonymous" href="/assets/stylesheets/styles.css" rel="stylesheet">
  <link href="/assets/images/favicon-32.png" rel="shortcut icon">
  <link href="/assets/images/favicon-512.png" rel="apple-touch-icon-precomposed">
</head>

<body>

  {% include 'components/Sprite/Sprite.html' %}

  {% block content %}{% endblock %}

</body>

</html>
