<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page_title}} Refresh Conference 2018, 26th of October, Groningen</title>
  <meta name="description" content="{{page_description}}">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://www.refreshconference.nl/">
  <meta name="twitter:site" content="@refreshcon">
  <meta name="twitter:title" content="Refresh Conference 2018">
  <meta name="twitter:description" content="International design & front-end conference in Groningen, NL on the 26th of October 2018">
  <meta name="twitter:image" content="https://www.refreshconference.nl/dist/images/social-media-twitter.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="Refresh Conference 2018" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.refreshconference.nl/" />
  <meta property="og:image" content="https://www.refreshconference.nl/dist/images/social-media-facebook.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:height" content="1200" />
  <meta property="og:image:width" content="628" />
  <meta property="og:description" content="International design & front-end conference in Groningen, NL on the 26th of October 2018" />
  <meta property="og:site_name" content="Refresh Conference 2018" />

  <link href="./dist/stylesheets/styles.css" rel="stylesheet">

  <link href="./favicon-32.png" rel="shortcut icon">
  <link href="./favicon-512.png" rel="apple-touch-icon-precomposed">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114739036-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114739036-1');
  </script>
</head>

<body>
  <a class="u-visibility-hidden" href="#content">Skip to content</a>

  <div class="c-layout">

    <div class="c-layout__row c-layout__row--top">

      <div class="c-layout__container">
        <a href="/">
          <img src="./dist/images/logo-refreshconf.svg" alt="Refresh Conference 2018 logo">
          <span class="u-visibility-hidden">Homepage</span>
        </a>
        <ul class="c-navigation">
          <li class="c-navigation__item"><a href="speakers.html" class="c-navigation__link">Speakers</a></li>
          <li class="c-navigation__item"><a href="schedule.html" class="c-navigation__link">Schedule</a></li>
          <li class="c-navigation__item"><a href="about.html" class="c-navigation__link">About</a></li>
          <li class="c-navigation__item"><a href="blog.html" class="c-navigation__link">Blog</a></li>
          <li class="c-navigation__item"><a href="mailto:hello@refreshconference.nl" class="c-navigation__link">Mail us <span class="u-visibility-hidden">(open your e-mailclient)</span></a></li>
          <li class="c-navigation__item"><a href="https://www.eventbrite.com/e/refresh-conference-2018-tickets-43969993434" class="c-navigation__link">Get your ticket <span class="u-visibility-hidden">(external website)</span></a></li>
        </ul>
      </div>

    <div id="content" tabindex="-1">
      {% block content %}{% endblock %}
    </div>

    <div class="c-bar">
      <div class="c-layout__container c-layout__container--bar">
        <p>Join us in Groningen on Friday 26th October 2018.</p>
        <a href="https://www.eventbrite.com/e/refresh-conference-2018-tickets-43969993434" class="c-button c-button--diapositve u-nowrap">Get your ticket for &euro; 175</a>
      </div>
    </div>

    <div class="c-layout__row u-spacing">
      <div class="c-layout__container u-text-align-center u-spacing">
        <img src="./dist/images/logo-refreshconf.svg" alt="Refresh Conference 2018 logo">
        <p>Also check out the awesome <a href="http://refreshmeetup.com" rel="external" target="_blank">meetups</a> we're organising</p>
      </div>
    </div>
  </div>

</body>

</html>
